[2015-05-18 21:34] rich-armstrong opened #5 "Problem with encodePayload"
Hey guys, I enjoy the library, but I think I may be using it slightly wrong and have a question and example.

I believe the return I'm getting from encodePayload may not be as desired, I'm expected header.payload.signature, is that what this method should be returning? That does appear what it looks like when I read through the code and move through the debugger. =/ However, I seem to only get ret

[2015-05-19 19:47] klaaspieter commented on #5
I'm not 100% sure what you're trying to achieve. Are you trying to use custom header values? The [header](https://github.com/yourkarma/JWT/blob/master/JWT/JWT.m#L36) is hardcoded at the moment, but that shouldn't be hard to change. Feel free to offer a PR.

[2015-08-26 09:45] haemi opened #6 "what if I don't have a secret? Is that always necessary?"
e.g. in the layer documentation I don't find any information for secret:

https://developer.layer.com/docs/ios/guides

[2015-08-31 15:04] klaaspieter commented on #6
I'm not familiar with the specifics of the Layer SDK. At first glance it seems that the Key ID is their equivalent of the secret.

A quick glance through [the standard](https://self-issued.info/docs/draft-ietf-oauth-json-web-token.html#rfc.section.6) tells me not having a secret is allowed. If you're willing to submit a PR I'd be happy to merge it in.

[2015-08-31 15:05] #5 closed

[2015-09-22 20:45] klaaspieter commented on #6
Closed because of inactivity. If you still want this fixed please open a new issue/PR.

[2015-09-22 20:45] #6 closed

[2015-09-23 15:27] keyboardsamurai opened #8 "Base64 encoding uses padding"
RFC7515 -> https://www.rfc-editor.org/rfc/rfc7515.txt specifically demands that no padding be added to base64 encoded data and recommends the replacement of all padding characters as described in Appendix C.

Currently the JWT library uses the Base64 pod to provide padded base64 data though, breaking some server implementations that strictly adhere to the RFC standard.

For the header and payload

[2015-10-06 16:52] lolgear opened #9 "Custom headers feature"
It would be great if we could configure our headers and add them to standard headers or replace standard headers

[2015-10-06 17:06] klaaspieter commented on #9
It's not something we're planning to add, but it shouldn't be difficult to add yourself. If you're up for making a PR, I can merge it in.

[2015-10-10 19:55] lolgear commented on #9
@klaaspieter, pull request is ready, could you review it?

[2015-10-12 18:50] klaaspieter commented on #9
Closed by #11

[2015-10-12 18:50] #9 closed

[2015-10-12 18:51] klaaspieter commented on #8
Closed by #10

[2015-10-12 18:51] #8 closed

[2015-10-16 11:54] lolgear opened #13 "Add none algorithm for messages without algorithm"
JWT provides "none" algorithm for non-encoded messages.

It would be great to add support for none algorithm.

[2015-10-18 12:55] lolgear opened #16 "Update release version"
Update release version to access new features in master via cocoapods installation

[2015-10-19 16:48] klaaspieter commented on #13
Closed by #14

[2015-10-19 16:48] #13 closed

[2015-10-19 17:59] klaaspieter commented on #16
I tried to do a quick release, but `pod spec lint` rejects the build.

I don't have time to look into this right now unfortunately. I'll try again later this week. Or if you want you can take a look at the problem by checking out the 1.1.0 branch and running `pod spec lint`.

This is the error I'm getting:

[code]

[2015-10-20 08:26] lolgear commented on #16
I think that the problem is plain import statements. Cocoapods prefer umbrellas `<Lib/Header.h>`

[2015-10-20 09:55] lolgear commented on #16
Check this one: #17

[2015-10-28 19:21] klaaspieter commented on #16
Done.

[2015-10-28 19:21] #16 closed

[2015-11-09 09:51] lolgear opened #19 "is it possible to upgrade JWT to JOSE"
is it possible upgrade JWT to JOSE?
It seems that JOSE specification is easy for implementation/improvements

[2016-01-25 19:06] lolgear opened #21 "verification disabled debug tools"
it is necessary to add inspect method or something similar for debug purposes.

It seems that these implementations are good enough.
https://github.com/yourkarma/JWT/pull/20
https://github.com/yourkarma/JWT/pull/18

Also, I want to look at http://jwt.io/ implementations for swift and ruby.

[2016-02-04 15:53] lolgear opened #28 "Pod owner needed"
@klaaspieter, could you add me as pod owner? ( email in my profile as owner identity )
new release is ready and is waiting for delivery to cocoapods

[2016-02-05 12:22] klaaspieter commented on #28
Done.

[2016-02-05 13:05] #28 closed

[2016-02-06 11:28] lolgear opened #29 "Objective C icon needed for jwt.io"
hm, I think that library is ready be listed on jwt.io site.

just a few things needed: icon in svg and theme color.

could anybody share this icon/theme color?

[2016-02-06 13:06] lolgear opened #30 "Algorithms family header needed"
For example, you want to use algorithm from HS family, but you do not want to change header.

I think that this enhancement would be useful, but I could be wrong.

[code]

[2016-02-10 09:07] lolgear opened #33 "Fluent style support"
Fluent style is awesome:

[code]

I think that if we add fluent to library, it would give us more pleasure. and cats. and rainbows and unicorns.

[2016-02-10 22:00] lolgear commented on #21
#36

[2016-02-10 22:02] lolgear commented on #33
#36

[2016-02-10 23:17] lolgear opened #37 "Add claims verification"
Add claims verification for decoding

[2016-02-13 18:16] lolgear commented on #37
#39

[2016-02-14 13:15] lolgear opened #40 "Change testing framework"
It seems that Specta/Expecta could done Kiwi job and could done it better.

Also, it would be great to add mocking framework OCMockito for tests.

[2016-02-16 22:00] #37 closed

[2016-02-16 22:00] #33 closed

[2016-02-16 22:02] lolgear opened #43 "Upgrade dependencies"
Base64 1.1.1 finally updated.
Kiwi should be updated to newer version or should be replaced by other testing framework.

[2016-02-20 14:27] lolgear opened #44 "RS and ES algorithm family support"
subject

[2016-02-23 17:41] falkobuttler opened #47 "How to encode with 2.0? All encode methods marked as deprecated."
How am I supposed to encode a payload now? All encode methods in JWT.h are marked as deprecated. Even the documentation is using the deprecated version...

[2016-02-23 21:03] lolgear commented on #47
See documentation section "Fluent Style".

`[JWT encodePayload:]` or `[JWT decodeMessage:]` as a start point to fluent.

`NSString *jwt = [JWT encodePayload:payload].secret(secret).encode;`

[2016-02-23 21:26] falkobuttler commented on #47
Thanks, it would be great if the documentation would also clearly reflect that. The first section is still referring to ``[JWT encodePayload:@{@"foo": @"bar"} withSecret:@"secret"];`` as of now.

[2016-02-24 13:58] lolgear commented on #47
@falkobuttler yep, as soon as possible documentation will be updated and separated into versions sections

[2016-02-25 17:15] lolgear commented on #47
#48

[2016-02-26 15:09] lolgear commented on #43
I have found interesting solution, Quick, is it a good library for testing?
https://github.com/Quick/Quick

[2016-02-29 19:34] jbrophy17 opened #49 "Add version 2.0.1 to cocoapods"
Latest version on cocoapods master spec is 2.0.0. Missing documentation & Base64 updates from version 2.0.1

[2016-03-02 12:16] lolgear commented on #49
https://github.com/yourkarma/JWT/tree/2.0.1

[2016-03-07 18:19] #49 closed

[2016-03-10 12:11] lolgear opened #50 "Add possible algorithms names while decoding"
Situation:
We trust JWT encoded with HS256 ( Result ) or None ( Error ).

And it would be great to add possible algorithm names:

[code]

[2016-03-11 10:49] lolgear commented on #40
I think that OCMock would be better for OCMockito

[2016-03-11 10:50] lolgear commented on #47
@falkobuttler closed?

[2016-03-11 14:59] falkobuttler commented on #47
Yes 👍

Sent from my iPhone 6s

[2016-03-11 15:09] #47 closed

[2016-03-11 15:10] lolgear commented on #44
#51

[2016-03-11 15:11] lolgear commented on #44
#51

[2016-03-13 14:52] lolgear commented on #44
well, it seems that not all `kSecPadding` constants available on OS X.

RS256Algorithm didn't compile with os x sdk. ( no enum value kSecPaddingPKCS1SHA256 )

I don't know is it necessary to support os x or this support could be dropped.

[2016-03-14 10:35] lolgear opened #55 "Add OS X implementation for RS256"
OS X doesn't have SecPadding constant for SHA256 (384, 512).
It could be only implemented separately.

[2016-03-14 10:40] lolgear opened #56 "Fix linking warnings and project configurations."
There are many warnings with inappropriate deployment os versions and similar.

For example:

[code]

[2016-03-14 10:42] lolgear opened #57 "Add travis multiplatform testing."
It would be necessary to add travis matrix for several Xcode versions and several osx / ios versions.

Now there are test configurations for latest 7.2 Xcode version support with iOS 9.2.

[2016-03-24 07:59] Premal-Khetani opened #58 "Can't Generating Token Giving Error For base64UrlEncodedString."
I am using the library to generate the token for the data. Every time i run the app and it crash and give me following error

I put debug points and found that in the JWT.m file there is method named** - (NSString *)encodeSegment:(id)theSegment withError:(NSError **)error **. In this method there is the code as below

`NSString *encodedSegment = nil;

    if (encodedSegmentData) {
        encodedS

[2016-03-24 08:15] lolgear commented on #58
@Premal-Khetani please, add library version. And also your invocation of jwt.

[2016-03-24 08:20] Premal-Khetani commented on #58
@lolgear Library Version  is 2.0 And i am doing it as below :

 `NSDictionary *jsonDataTobeEncode = @{@"sub":@"Testing",@"name":@"Premal",@"admin": @true};
    NSString *jwtTokenValue = [JWTBuilder encodePayload:jsonDataTobeEncode].secret(@"MySecrateKey").algorithm([JWTAlgorithmFactory algorithmByName:@"HS256"]).encode;`

Please take a look.

[2016-03-25 20:45] lolgear commented on #58
@Premal-Khetani how did you add library to your project?

[2016-03-29 16:04] Premal-Khetani commented on #58
I added it by Pod install @lolgear

[2016-03-30 08:25] lolgear commented on #58
@Premal-Khetani  could you post entries of JWT from `Podfile` and from `Podfile.lock` ?

[2016-04-01 12:01] sahil912 opened #60 "RS256 is not working?"
I am trying to encode payload using RS256, and encoded result is always nil. Please direct me, If I am missing something here.

[2016-04-02 07:03] lolgear commented on #60
@sahil912 any code example? also, if you use fluent style, you can investigate errors by `.jwtError` property after encode/decode usage.

[2016-04-02 07:32] sahil912 commented on #60
Sorry, I tried to put private key into secret, didn't know I had to use .p12 file along with passphrase. after trying that it worked.

Thanks. Closing this

[2016-04-02 07:32] #60 closed

[2016-04-02 07:35] lolgear commented on #60
@sahil912 it would be great if you add instructions to README file for correct RS256 setup and usage!

[2016-04-02 07:55] sahil912 commented on #60
Sure, I will do it. :)) Thanks.

On Sat, Apr 2, 2016 at 1:05 PM, Dmitry <notifications@github.com> wrote:

--
Regards
Sahil J

[2016-04-17 20:54] lolgear commented on #58
@Premal-Khetani actual or could be closed?

[2016-04-18 17:02] Premal-Khetani commented on #58
Hello sorry for the late reply I remove all pods and update it by new pod it solved the problem after so may tries. Thank you

[2016-04-18 17:02] #58 closed

[2016-04-18 17:08] Premal-Khetani opened #61 "When too much bulk data at that time jwtbuilder gives nil value."
Hello,
Recently i am working with the jwt. i am facing the issue when the jwt token's value is much more then base64string length. The actually problem is that when there is bulk of data passed in form of jwt key and i try to decode that key using NSDictionary *dictData = [JWTBuilder decodeMessage:jwtToken].secret(@"MySecretKey").algorithmName(@"HS256").decode; method i always got the nil value in

[2016-04-18 20:36] lolgear commented on #61
@Premal-Khetani could you post example ( or mock up your sensitive data and post it here ) of JWT encoded base64 string?

[2016-04-19 05:26] Premal-Khetani commented on #61
@lolgear i created one demo for this please check it and i created on jwt token by the method given by lib and then decode that message as i said in problem description (below is the token), but i got the response as nil in the NSDictionary.

[JWTExample.zip](https://github.com/yourkarma/JWT/files/225269/JWTExample.zip)
**

[2016-04-19 05:29] Premal-Khetani commented on #61
@lolgear  when i put this jwt to web site (i.e. jwt.io) then it gave me the decoded message successfully. The problem is with only ios version

[2016-04-19 08:06] lolgear commented on #61
you are correct: [standard](https://tools.ietf.org/html/rfc7519) doesn't claim any length limitations of jwt string.

it could be solved by PR with some tests. ( possibly your JWT used )

[2016-04-19 09:19] Premal-Khetani commented on #61
@lolgear Thank you for your Response we are looking forwarding to it. :)

[2016-04-21 06:17] Premal-Khetani commented on #61
@lolgear  Could you please tell me when it can be resolve?

[2016-04-27 10:21] Premal-Khetani commented on #61
@lolgear  Any update regarding the bug? could you please let me know when will you solve this problem ?

[2016-04-30 17:56] lolgear commented on #61
@Premal-Khetani I don't have much time for this issue. Well, it could be solved by PR. But I insist on properly written tests. I tried to encode/decode array with one thousand elements. ( `{"data": array}` ) and everything worked fine.

[2016-05-02 08:42] Premal-Khetani commented on #61
@lolgear ok no worries 👍 right now i am using this library please take a look at this. and i am not getting any error in this library. https://github.com/NKJWT/NKJWT

[2016-05-14 13:40] Wstunes opened #62 "Question about introducing privateKeyCertificatePassphrase"
the #51commit introduced privateKeyCertificatePassphrase.
I wonder if there's no privateKeyCertificatePassphrase, should I use `[JWTBuilder encodePayload:payload].secret(secret).privateKeyCertificatePassphrase(@"").algorithmName(algorithmName).encode;` or `[JWTBuilder encodePayload:payload].secret(secret).privateKeyCertificatePassphrase(nil).algorithmName(algorithmName).encode;`
And could you give

[2016-05-14 14:09] lolgear commented on #62
I agree.
Some parts of implementation are suffering from lack of descriptive errors.

[2016-05-14 14:12] Wstunes commented on #62
@lolgear   Could you please add some examples using the public and private keys now?

[2016-05-14 23:17] lolgear opened #63 "EncodeSegment implementation corrupted."
It seems that encode segment implementation corrupted.

Suspicious lines in else-clause:

[code]

Inspection needed.

[2016-05-15 10:08] lolgear commented on #61
@Premal-Khetani I ran your JWTExample project (JWTExample.zip in first post attachment ) and saw no nils. JWT correctly encode and decode your big payload. However, I add test with one thousand elements array in encoding section.

[2016-05-15 11:34] lolgear commented on #62
@Wstunes well, I can't figure out how to use jwt with raw private key without passphrase. Please, look at updated readme.

[2016-05-15 12:00] lolgear commented on #55
[missing headers](https://github.com/lookback/JWT/commit/897bcd8f314329b0845f31be5861f4f762701a83)

[2016-05-17 02:33] Wstunes commented on #62
@lolgear   Thanks for the update. But here's another problem. What if I want to encode the payload with public key and decode it with private key? It seems that the library now only support encoding with private key.

[2016-05-17 10:41] lolgear commented on #62
@Wstunes
I agree.
RS256 algorithm implementation is asymmetric for public/private keys.
Should we have symmetry?

[2016-05-18 14:19] lolgear commented on #63
ah, everything fine, forget about this document.
[Error handling in Cocoa](https://developer.apple.com/library/mac/documentation/Cocoa/Conceptual/ErrorHandlingCocoa/CreateCustomizeNSError/CreateCustomizeNSError.html)

[2016-05-18 14:20] #63 closed

[2016-05-19 11:47] Premal-Khetani commented on #61
@lolgear  I update the Library and now having version 2.0.2 but still the same i am getting below output in the console.

2016-05-19 17:15:35.055 JWTExample[6488:198686] Code: -88
2016-05-19 17:15:36.001 JWTExample[6488:198686] Reason: Error decoding the JWT Payload segment.
2016-05-19 17:15:39.538 JWTExample[6488:198686] Decoded message : (null)

I updated deprecated methods and update code but s

[2016-05-19 15:00] lolgear commented on #61
@Premal-Khetani
Same here, everything is fine.
please, provide information about testing suite:
os x version.
iOS / iOS Simulator.
Xcode version.
Any necessary information.

[2016-05-20 11:50] Premal-Khetani commented on #61
@lolgear
Below is the information.
OS X Version  : 10.11.4
iOS Version     : 9.3
Simulator         : any
Xcode Version : 7.3 (7D175)

What else necessary details you need? please let me know.

Thanks :)

[2016-05-20 13:04] lolgear commented on #61
@Premal-Khetani ok, I will test in with this configuration ( I tested with Xcode Version 7.3.1 (7D1014) )

I think it is better to add your test suite as part of travis ci.

[2016-05-30 23:54] benguild opened #70 "Whitelist allowed algorithm types and decode without specifying just one?"
I don't understand the point of calling both `.algorithmName()` and `.whitelist()` in order to decode. The current code fails without specifying an algorithm yet for some reason also accepts a whitelist?

Shouldn't it accept any whitelisted algorithm, and just check the header for which one to use? **Current code with seemingly conflicting logic/failures:**

[code]

Related: #50

[2016-05-31 19:01] WingedToaster opened #71 "Memory Leak"
I am noticing a memory leak in Instruments when encoding a claim set using any Algorithm except for JWTAlgorithmNone.

The issue appears to be `unsigned char* cHMAC = malloc(fullSize);` not getting freed when encoding the payload in the `JWTAlgorithmHSBase` class. Pull Request forthcoming...

[2016-05-31 20:11] lolgear commented on #71
Thanks!

[2016-06-01 14:09] nbeithalevi opened #73 "RS256 return encode return nil"
Hi,

I'm trying to use rs256 algorithm with keys 1024 and 2048, but without success.
I also tried to use it without passcode (empty string) - without success.
I'm using raw private key, not a file like in the example.

Please help.

[2016-06-01 21:53] lolgear commented on #70
Uh, yes, clumsy place.
Besides it needs unique error cases.
Any PR suggestion?

[2016-06-01 21:54] lolgear commented on #73
@nbeithalevi could you post your code here with `builder.jwtError` output?

[2016-06-02 00:07] benguild opened #74 "[Badly broken] Lack of consistent Base64 URL encoding causes Base64 decoding failure"
Hi, this library is broken and I cannot recommend its current use in modern applications. I posted another issue about whitelisting inconsistencies #70, but also I want to point out that by not using the `dataWithBase64UrlEncodedString` method added to `NSData` to decode inbound JSON instead of the current `dataWithBase64String` completely hoses its decoding abilities and simply returns `nil` if t

[2016-06-02 06:45] nbeithalevi commented on #73
*Thanks for your quick reply,*

*Here's the error:*

*Error Domain=com.karma.jwt Code=-93 "It seems that signing output
corrupted. Make sure signing worked (e.g. we may have issues extracting the
key from the PKCS12 bundle if passphrase is incorrect)*

On Thu, Jun 2, 2016 at 12:54 AM, Dmitry <notifications@github.com> wrote:

--
[image: Ping Identity logo] <https://www.pingidentity.com/>
Nadav Bei

[2016-06-02 07:54] lolgear commented on #74
@benguild
thanks!
I've found these heinous lines in decoding part.
[code]

[code]

[2016-06-02 09:07] benguild commented on #74
... Where it occurs? I don't understand. I stopped using the library already because of its incompatibility.

[2016-06-02 09:51] lolgear commented on #74
@benguild 'where this behavior occurs'
all tests passed. Not all cases covered. Repair needed.
Library use base64url encoding in encoding jwt.
So, if you use it for decoding ( without any trimming ), nothing bad happens.

[2016-06-02 10:31] lolgear commented on #73
Yes, it can not be done ( for now ) by raw privateKey.
Only privatekey in file with seal - passphrase.
If you could add PR with additional algorithm implementation or existing algorithm extension, it would be great!
#62

[2016-06-04 09:48] lolgear commented on #73
@nbeithalevi Could you write tests with your desired functionality and disable them in pull request?
It would be great if you can rewrite existing RS256 tests with Kiwi framework.

[2016-06-04 09:49] lolgear commented on #62
@Wstunes could you write tests with desired ( public key / private key symmetry, am I right? ) functionality?

[2016-06-04 09:51] lolgear commented on #71
@WingedToaster fixed? Please, close issue when you will be sure.

[2016-06-04 09:53] #21 closed

[2016-06-04 09:53] #30 closed

[2016-06-04 09:53] #43 closed

[2016-06-04 09:54] lolgear commented on #40
They are still inappropriate. Waiting for Kiwi improvements.

[2016-06-04 09:57] lolgear opened #76 "Move failing test to single spec file."
Only one test ( yes, claims set, you are) that failing very often.
It would be necessary to isolate it ( or duplicate it ) in single file.
Maybe it would be necessary to add one more project for Kiwi inspection.
https://github.com/kiwi-bdd/Kiwi/issues/682

[2016-06-05 22:18] WingedToaster commented on #71
It's fixed and deployed live with no issues. Closing.

[2016-06-05 22:18] #71 closed

[2016-06-09 17:56] #76 closed

[2016-06-17 16:57] roma86 opened #78 "Error with pods: Embedded dylibs/frameworks are only supported on iOS 8.0 and later"
Hello. Thank you for work.

I tried to install this library as conterpart of https://github.com/kylef/JSONWebToken.swift in reason to support iOS 7 min build target.

After `pod install` i have an error

[code]
But, **JWT.podspec*** declare

[code]

[2016-06-20 13:17] lolgear commented on #78
thanks for feedback!
It seems that inconsistency ( with podspec ) still exists.
I think that JWT should support the minimum of iOS version ( 6 or 7 ).

[2016-06-22 10:24] lolgear commented on #78
@roma86
could you share project that mimic current behavior?

[2016-06-22 10:48] roma86 commented on #78
@lolgear i send you invite to access the project files on Google Drive.

Notes:
- Project cleaned from private business logic, only third party sources and pods dependencies remained.
- Open xworkspace and try to build to get build error
- [Optionally] remove Pods dir and Podfile.lock and run `pod install` – you can see error still here
- cocoapods version 1.0.0 and 1.0.1 deliver same result

Than

[2016-06-23 08:26] lolgear commented on #78
@roma86 I think that the answer is:

http://stackoverflow.com/questions/29728487/does-cocoapod-use-frameworks-work-with-ios7

[2016-06-23 08:31] roma86 commented on #78
@lolgear thank you

[2016-06-23 08:31] #78 closed

[2016-06-26 13:54] lolgear opened #79 "Add algorithms data holders."
It would be nice if data ( secret, secret data ) will be passed in container.

For example, you need try several secrets for data. ( Not good, but it possible in implementation and especially useful for Result pair: Algorithm and None in case of None algorithm restrictions )

[code]

Maybe algorithm hierarchy needed ( RSAlgorithmCoder, HSAlgorithmCoder ).

[2016-08-06 11:26] lolgear commented on #29
https://github.com/jsonwebtoken/jsonwebtoken.github.io/pull/187

[2016-08-06 11:26] #29 closed

[2016-08-06 11:29] lolgear commented on #40
Kiwi is ok now with powerful features as 'behaviour specs'.
Good version https://github.com/kiwi-bdd/Kiwi/releases/tag/v2.4.0

[2016-08-06 11:29] #40 closed

[2016-08-06 11:31] lolgear commented on #56
closed.

[2016-08-06 11:31] #56 closed

[2016-08-06 11:33] lolgear commented on #50
One of these alternatives could be 'AlgorithmEntity' or 'AlgorithmCoder' - instance which take care of algorithm specific fields and all input data as 'secret'.
Not sure if needed but it could simplify this feature implementation.

[2016-08-06 11:45] lolgear commented on #50
https://github.com/yourkarma/JWT/issues/79

[2016-08-07 20:43] lolgear commented on #55
https://github.com/yourkarma/JWT/pull/80

[2016-08-11 06:51] lolgear commented on #55
Tests needed

[2016-08-11 07:15] lolgear opened #81 "Add swift and frameworks support"
Add swift and framework support for easy integration in swift projects.

[2016-08-11 09:04] awgeorge commented on #81
Carthage support would be amazing :)

[2016-08-13 10:44] lolgear opened #83 "errSecInputLengthError in RS256 Mac Port."
RS256 Mac port still broken.
`errSecInputLengthError` appears.

Can't figure out what happened.
Which of these

[code]
sizes cause error.

[2016-08-16 11:21] lolgear commented on #83
https://forums.developer.apple.com/thread/55166

[2016-08-16 11:37] lolgear commented on #83
SecTransforms and [CryptoCompatibility](https://developer.apple.com/library/mac/#samplecode/CryptoCompatibility/) could help for mac OS.

[2016-08-27 14:53] #83 closed

[2016-08-27 14:53] #55 closed

[2016-08-29 13:13] lolgear opened #86 "Add github templates."

[2016-08-29 16:55] lolgear commented on #57
It cannot be done well in case of time consumption and travis time limit.

[2016-08-31 10:05] lolgear opened #87 "Add decode and encode examples for new major version 3.0"

[2016-09-01 12:00] lolgear commented on #81
@awgeorge one of the problems: base64 pod is not carthage compatible now.

[2016-09-14 12:39] lolgear opened #89 "Compatibility iOS 10.0"
compatible or not?

[2016-09-22 12:11] virenderimmanentsolutions opened #93 "Not able to decode JWT encoded data in objective-c."
Hi,

We are using the JWT decryption method by using the algorithm HS256.
Somehow, we have able to decrypt the normal string/data from the server.

Here is the snippet code that we are using to decrypt the JSOn data from server:

**NSString *jwtToken = @“eyJ0eXAiOiJqd3QiLCJhbGciOiJIUzI1NiJ9.eyJzdGF0dXMiOjEsImRhdGEiOlt7ImlkIjoiMiIsImNsaWVudF9pZCI6IjMiLCJxdWVzdGlvbiI6IndoYXQgaXMgc3FsaXRlIiwiY2F0ZWdv

[2016-09-25 11:07] lolgear commented on #93
did you try to use JWTDesktop application? It is shipped in Example folder.
It has limited functionality, but it could show you signature status and also in logs you could find a clue.

[2016-09-26 06:42] virenderimmanentsolutions commented on #93
Hi lolgear,

Thanks for your response.

We are using the JWT extension to debugger the encrypted data.

The debugger is not prompting any error while decrypting. But when we try to decrypt the encrypted JWT data, the IOS code seems to stop work (if JWT encrypted data will have a multiple special character like "?" interrogative symbol).

Any idea?

Thanks.

[2016-09-26 11:57] lolgear commented on #93
try clone repo with latest commits and check JWTDesktop abilities. JWTDesktop has this JWT implementation under the hood.

[2016-09-26 16:10] lolgear commented on #93
@virenderimmanentsolutions besides,
`NSData *secretData = [@"try@!tfgh567354" dataUsingEncoding:NSUTF8StringEncoding];`
This one is incorrect, secretData should be encoded as base64

[2016-10-03 05:15] lolgear commented on #61
@Premal-Khetani could you check latest master branch and check your problem via, for example, JWTDesktop/JWTDesktopSwift apps. They are built on the top of JWT library.

[2016-10-03 08:04] lolgear opened #99 "Behaviour and specification settings and restrictions."
As far as I know JWT implementation is a bit far ( hah ) from specification standard.
One of PRs is related to specification restrictions. #91

Maybe we should add settings set.

[code]

[2016-10-03 16:01] mathiarasan24 opened #100 "'secret' is deprecated: deprecated. will be removed in release version: 3.0"
Hi,

I tried to check my secret token with [limitations code](https://github.com/yourkarma/JWT#limitations), [What's new in version 2.0](https://github.com/yourkarma/JWT#whats-new-in-version-20) and [Some of this code too](https://github.com/yourkarma/JWT#jwtbuilder). I got deprecated from everywhere. I don't know this is correct method or not. I just copy and past above code replace secret with m

[2016-10-04 08:25] lolgear commented on #100
secret and algorithm are deprecated due to upcoming version 3.0. You can still use them. They will be moved to different place.

[2016-10-04 15:32] mathiarasan24 commented on #100
Thank for your reply. After I update version 3.0 then I need too update my code?

[2016-10-04 17:36] lolgear commented on #100
@mathiarasan24 two scenarios.

First: I will make branch 2.0 with full support, remove all warnings and all.
Second: I will make version 2.2 and drop support of version 2.

The interfaces will be changed in version 3.0. Now I am playing with some of them.
Before version 3.0 I am planned to make several prereleases 3.0beta.

All of that stuff in 3.0 related to weak decoupling of algorithm, secret,

[2016-10-06 13:04] lolgear opened #102 "Hide deprecation warnings in 2.2.0"
Deprecation warnings should be hidden in release version 2.2.0

[2016-10-06 13:06] lolgear opened #103 "Remove API 1.0 in version 3.0"
Old API (version 1.0) should be removed in version 3.0.

[2016-10-06 13:12] lolgear commented on #86
[Tutorial](https://github.com/blog/2111-issue-and-pull-request-templates)

[2016-10-06 13:12] lolgear commented on #81
@awgeorge could you check carthage compatibility in version `2.2.0-beta.1`?

[2016-10-09 09:08] #102 closed

[2016-10-09 09:09] #86 closed

[2016-10-18 04:35] nathanclemente opened #106 "Cannot find JWT module when using Carthage"
Hi there,

I'm new to iOS development in general so please forgive any mistakes...

I'm working on a custom framework for JWT validation. I saw Carthage support was added so I went ahead and added `github "yourkarma/JWT" "master"` to my Cartfile and ran `carthage update --platform iOS` in my Cocoa framework directory. However, I get a No Such Module JWT error on the line `import JWT` when I try an

[2016-10-18 15:54] lolgear commented on #106
@nathanclemente unfortunately, it is a legacy.
You could use `import JWT_Module`.

[2016-10-18 16:35] nathanclemente commented on #106
Thanks for the quick reply! Unfortunately JWT_Module isn't working either...

I'm on 0.18.1 of Carthage and my Cartfile in my framework solely contains `github "yourkarma/JWT" "master"`. My Carthage/Build/iOS folder just contains the two JWT_iOS frameworks I mentioned above and the Base64.framework (which I can import just fine).

[2016-10-18 16:35] nathanclemente commented on #106
Whoops, sorry, accidentally closed it.

[2016-10-19 12:36] lolgear commented on #106
@nathanclemente try `carthage update`

[2016-10-19 14:38] nathanclemente commented on #106
@lolgear running `carthage update` gave me the JWT_macOS_Framework and JWT_macOS_Swift frameworks in the Build/Mac folder. Added them both and saw that the Xcode autocomplete could import "JWT_macOS_Framework".

However, on build, JWT_macOS_Framework.h can't find the "Cocoa/Cocoa.h" file and my Swift file that wants to use the library's functionality can't build JWT_macOS_Framework because it's an

[2016-10-19 15:20] lolgear commented on #106
@nathanclemente do you have `JWT_Module.framework` in any directory?

[2016-10-19 15:38] nathanclemente commented on #106
@lolgear I do not, unfortunately

[2016-10-19 19:43] lolgear commented on #106
@nathanclemente ok, I will have a look at the end of the week.

[2016-10-19 21:58] nathanclemente commented on #106
@lolgear thanks!

[2016-10-21 13:34] awgeorge commented on #81
Still working on checking this, been swamped with another issue. I'll get this tested as soon as I can.

[2016-10-24 09:39] lolgear commented on #106
@nathanclemente check latest, please.

[2016-10-24 15:29] nathanclemente commented on #106
Thanks @lolgear! Able to import and run it now. One thing you may want to add to your readme for new devs is that I had to add the framework in Linked Frameworks and Libraries as well as add it to my run script, just like any other Carthage library. Works great though, thanks again for helping out

[2016-10-24 15:29] #106 closed

[2016-10-25 06:28] lolgear commented on #81
#106 #108 #107

[2016-11-25 07:52] bearnewboy opened #110 "After export framework, use framework crash"
My framework info : Architectures in the fat file: JWT.framework/JWT are: i386 x86_64 armv7 arm64

My project use framework crash :
![screen shot 2016-11-25 at 3 49 05 pm](https://cloud.githubusercontent.com/assets/23735350/20617903/04b22e62-b327-11e6-98ad-e0cefcef9525.png)

[2016-11-25 09:06] lolgear commented on #110
@bearnewboy hi! Could you share your code as 'code' (not image)?

I would like to use it as a test part.

[2016-11-25 09:09] lolgear commented on #110
Could you share the version number of framework?

[2016-11-25 09:17] bearnewboy commented on #110
Framework version : **2.2.0**

The **publicKey** and **message**  are from **JWT Tests** Project

My code :
[code]

[2016-11-25 10:38] lolgear commented on #110
@bearnewboy how did you install framework?

[2016-11-25 10:53] lolgear commented on #110
@bearnewboy could you share your test project? It seems that your install process causes this error

[2016-11-28 01:17] bearnewboy commented on #110
I use your **/Framework/JWT.xcodeproj**, then use Xcode build. The production JWT.framework drag and copy into my test project.

my  test project below :
[TestJWT.zip](https://github.com/yourkarma/JWT/files/615182/TestJWT.zip)

[2016-11-28 08:30] lolgear commented on #110
@bearnewboy oh, interesting.
Not a mainstream with dependency managers :)
Somehow, `[decodeBuilder decodeMessage:]` not create new builder and return `nil` instead.

[2016-11-28 09:28] lolgear commented on #110
@bearnewboy thank you!
Two bugs in code and one in dependencies.

First, you should add all local frameworks as 'Embedded frameworks' ( they are shipped with your binary and copied. )

1. Choose project.
2. Choose General tab.
3. Remove all occurrences of JWT framework in section (Link with binary).
4. Add JWT framework as Embedded ( section Embedded frameworks ).

And two bugs:

1. `algorithm` is

[2016-11-28 09:43] bearnewboy commented on #110
@lolgear thank you very much!
It works well for me.

[2016-11-28 09:44] #110 closed

[2016-11-29 15:36] jonny999 opened #111 ""jwtSecret" and "secret" both deprecated."
### New Issue Checklist

* [x] I have read and understood the [CONTRIBUTING guide](https://github.com/yourkarma/JWT/blob/master/.github/CONTRIBUTING.md)
* [x] I have read the [Documentation](https://github.com/yourkarma/JWT#documentation)
* [x] I have searched for a similar issue in the [project](https://github.com/yourkarma/JWT/issues) and found none

### Issue Info

 Info                    | Va

[2016-11-29 15:53] lolgear commented on #111
@jonny999 hi! you correct. New API draft will be here soon!

[2016-11-30 11:50] jonny999 commented on #111
Thanks for quick answer.

[2016-11-30 12:07] jonny999 opened #112 "Crashing RS256 decoding"
### New Issue Checklist

* [ ] I have read and understood the [CONTRIBUTING guide](https://github.com/yourkarma/JWT/blob/master/.github/CONTRIBUTING.md)
* [ ] I have read the [Documentation](https://github.com/yourkarma/JWT#documentation)
* [ ] I have searched for a similar issue in the [project](https://github.com/yourkarma/JWT/issues) and found none

### Issue Info

 Info                    | Va

[2016-12-01 11:04] lolgear commented on #112
@jonny999 yes, certificate not created from publicKey.
Correct format should be raw public key, without begin/end public key clauses e.g.

[code]

`SecCertificateCreateWithData(NULL, verificationKeyData)` return NULL with `verificationKeyData =  [JWTBase64Coder dataWithBase64UrlEncodedString:verificationKey] // publicKey in your case.`

[2016-12-01 11:09] lolgear opened #113 "Algorithms should have methods with error inout parameter for encoding/decoding issues."
### New Issue Checklist

* [x] I have read and understood the [CONTRIBUTING guide](https://github.com/yourkarma/JWT/blob/master/.github/CONTRIBUTING.md)
* [x] I have read the [Documentation](https://github.com/yourkarma/JWT#documentation)
* [x] I have searched for a similar issue in the [project](https://github.com/yourkarma/JWT/issues) and found none

### Issue Info

 Info                    | Va

[2016-12-01 11:09] lolgear commented on #113
#112

[2016-12-01 12:24] lolgear opened #114 "RS algorithm encoding part mismatch signature."
### New Issue Checklist

* [x] I have read and understood the [CONTRIBUTING guide](https://github.com/yourkarma/JWT/blob/master/.github/CONTRIBUTING.md)
* [x] I have read the [Documentation](https://github.com/yourkarma/JWT#documentation)
* [x] I have searched for a similar issue in the [project](https://github.com/yourkarma/JWT/issues) and found none

### Issue Info

 Info                    | Va

[2016-12-01 14:51] lolgear commented on #114
https://github.com/yourkarma/JWT/commit/7cc43d817522b5e37455ccca35c9c2f9084acfea

[2016-12-03 14:09] lolgear commented on #103
#115

[2016-12-03 14:09] #103 closed

[2016-12-03 14:10] lolgear commented on #111
@jonny999, please, have a look at new version!

[2016-12-03 14:10] lolgear commented on #111
https://github.com/yourkarma/JWT/releases/tag/3.0.0-beta.1

[2016-12-03 14:11] lolgear commented on #100
@mathiarasan24, please, have a look at new version!

https://github.com/yourkarma/JWT/releases/tag/3.0.0-beta.1

[2016-12-03 14:13] lolgear commented on #87
#115

[2016-12-03 14:14] lolgear commented on #79
#115

[2016-12-03 14:14] #79 closed

[2016-12-03 14:15] lolgear commented on #50
Missed in #115.
It will be added in future releases.

[2017-01-18 15:21] JanC opened #116 "ES256 ?"
Hi,
this is not an issue but a question. Is there a plan to support the [`ES256`](http://self-issued.info/docs/draft-ietf-jose-json-web-algorithms-00.html) algorithm?

cheers,
Jan

[2017-01-18 15:24] lolgear commented on #116
Hi!
Sure!

[2017-01-19 08:45] lolgear commented on #89
closed.

[2017-01-19 08:45] #89 closed

[2017-01-24 04:59] kashiftriffort opened #117 "Not able to encode JWT data in Objective-C"
Hi,

I am using this method for encoding of JWT

    NSDictionary *payload = @{@"sub": @"1234567890", @"name": @"Kashif", @"admin" : @"iOS"};
    NSString *secret = @"secret";
    id<JWTAlgorithm> algorithm = [JWTAlgorithmFactory algorithmByName:@"HS256"];
    NSString *result = [JWTBuilder encodePayload:payload].secret(secret).algorithm(algorithm).encode;
    NSLog(@"%@",result);

However its sho

[2017-01-24 09:10] lolgear commented on #117
Hi!
Which dependency manager do you use?
You could try version 3.0.0-beta.1 in case of Cocoapods ;)

[2017-01-24 12:53] kashiftriffort commented on #117
Okay,
In future if pod file updated then deprecated functions will be removed.

[2017-01-24 13:16] lolgear commented on #117
@kashiftriffort maybe in distant future.
In current paradigm old API saved in version categories.

[2017-01-25 19:28] lolgear commented on #117
@kashiftriffort could be closed?
I plan update rsa tests before version release.
Maybe add some shortcuts in new API.

[2017-01-27 11:27] akolio opened #118 "Appstore validation breaks on disallowed characters"
### New Issue Checklist

* [x] I have read and understood the [CONTRIBUTING guide](https://github.com/yourkarma/JWT/blob/master/.github/CONTRIBUTING.md)
* [x] I have read the [Documentation](https://github.com/yourkarma/JWT#documentation)
* [x] I have searched for a similar issue in the [project](https://github.com/yourkarma/JWT/issues) and found none

### Issue Info

 Info                    | Va

[2017-01-27 11:59] lolgear commented on #118
oh-oh-oh, another brick in the wall.

Yes, you are correct, dashes are not allowed.

I thought about hyphen as replacement.

For example:
[code]
And for `JWT-iOS-Swift`:

[code]

[2017-01-27 12:05] akolio commented on #118
I think that would be a good idea!

[2017-01-28 12:09] lolgear commented on #118
@akolio check latest master, please.

[2017-01-28 13:44] akolio commented on #118
Thanks for the quick help!

I cannot probably upload a new version now, but I archived a version with the new libraries and ran that against the store's validation and that completed ok!

I noticed that instead of 4 libraries I now got 3. Is the earlier JWT iOS framework now included in JWT.framework?

[2017-01-28 14:08] lolgear commented on #118
@akolio not sure.

Could you print CFBundleIdentifiers?
They are

[code]

[code]

[2017-01-28 14:27] akolio commented on #118
find ./Carthage/Build/ -name '*.plist' | grep -v 'dSYM' | grep JWT | perl -MCwd -ne '$_ =~ s/^\.//; $_ = getcwd().$_; chomp; print qx(defaults read $_ CFBundleIdentifier)'
io.jwt.ios
io.jwt.ios.swift
io.jwt.jwt
io.jwt.macos.swift

[2017-01-28 14:29] lolgear commented on #118
@akolio great!
Could you use all of them?

[2017-01-28 14:35] akolio commented on #118
I had a small unit test that uses jwt ios that I ran, I believe it works.

[2017-01-29 20:49] lolgear opened #121 "Add PEM format support in RSA algorithms."
### New Issue Checklist

* [x] I have read and understood the [CONTRIBUTING guide](https://github.com/yourkarma/JWT/blob/master/.github/CONTRIBUTING.md)
* [x] I have read the [Documentation](https://github.com/yourkarma/JWT#documentation)
* [x] I have searched for a similar issue in the [project](https://github.com/yourkarma/JWT/issues) and found none

### Issue Info

 Info                    | Va

[2017-02-01 09:44] lolgear commented on #118
Closed?

[2017-02-04 08:43] #118 closed

[2017-02-08 21:00] #114 closed

[2017-02-08 21:01] lolgear commented on #112
@jonny999 could you check version 3.0.0-beta.2? Public/Private key import from PEM file added.

[2017-02-08 21:03] lolgear commented on #111
could be closed?

[2017-02-08 21:04] lolgear commented on #81
@awgeorge could be closed?

[2017-02-08 21:05] lolgear commented on #100
could be closed?

[2017-02-13 13:56] mathiarasan24 commented on #100
Yes, sure.

[2017-02-13 14:29] #100 closed

[2017-02-14 20:04] lolgear commented on #112
@jonny999 could you also check latest master? It introduced algorithms error handling.

[2017-02-14 20:07] lolgear commented on #73
@nbeithalevi could you check latest master? It introduced keys PEM import.

[2017-02-14 20:07] jonny999 commented on #111
hi, thanks. Yes, you can close it.

[2017-02-14 20:09] lolgear commented on #57
It done for latest xcode and for latest iOS (32/64)bit and for latest macOS.

[2017-02-14 20:09] #57 closed

[2017-02-14 20:14] lolgear commented on #50
closed. introduced in 3.0.0-beta.2

[2017-02-14 20:14] #50 closed

[2017-02-14 20:14] lolgear commented on #62
@Wstunes could you check latest master? Keys PEM import introduced.

[2017-02-14 20:16] #74 closed

[2017-02-14 20:16] #70 closed

[2017-02-14 20:34] jonny999 commented on #112
Hi, i will check the master. The original issue was that the implementation is using "base64" encoding but the "base64 URL" encoding is required. My solution was in modification of JWTBase64Coder.m file. Please, see the attachment. Sorry, totaly forgot to pass this information.
[JWTBase64Coder.txt](https://github.com/yourkarma/JWT/files/775222/JWTBase64Coder.txt)

[2017-02-15 02:36] Wstunes commented on #62
@lolgear   Thanks for your effort. I think keys in pem or .p12 format is working well now. Another suggestion is that people may want to sign a token or verify a token with raw private/public key which is string not a file. I am trying to accomplish that. It's a good-to-have in this iOS JWT library.

[2017-02-15 05:52] #111 closed

[2017-02-15 08:14] lolgear commented on #62
@Wstunes you could try something like:

[code]

[2017-02-15 08:20] lolgear commented on #112
@jonny999 well, yes, it could appear if you use vanilla JWT without weak dependency.
Do you use **Carthage** as dependency manager?

[2017-02-15 08:29] lolgear commented on #116
@JanC do you have samples of ec256 keys (private/public) (PEM format)? It seems that found samples are broken :/

[2017-02-15 08:46] JanC commented on #116
Hi,
according to [OpenSSL](https://wiki.openssl.org/index.php/Command_Line_Elliptic_Curve_Operations), I _think_ this is what we need
[code]

If you need a PKCS8 format you can convert it from PEM using
[code]

I have some real keys from Apple's push notification service so I'd be happy to try to see if it works

[2017-02-15 11:48] lolgear commented on #116
I try to retrieve key from PEM file, but it always said

[code]

The error message indifferent for both keys.
I could make a PR with this example.
It would be great to have a response from you about problem. ( Google doesn't help or my skills in googling are too weak. )

[2017-02-15 12:44] JanC commented on #116
sure, I can help to investigate

[2017-02-15 20:01] lolgear commented on #116
@JanC, please, have a look at latest master ( PR will be merged as soon as possible )

[2017-02-16 16:16] JanC commented on #116
Hi,
I'm running the same problem when reading the EC file. Looks like this is related: https://forums.developer.apple.com/thread/72445

[2017-02-16 17:01] lolgear commented on #116
@JanC, hah, you revealed me at developer forums. :)
Well, I am right that header should be stripped from key.
The main question is: how to strip it in a right way? (Some parts were already written).
Maybe we need some convertion code that could cut off all header related stuff from key for Security API.

[2017-02-16 17:05] JanC commented on #116
:)
Probably, I'm trying to found out the difference between a key generated using openssl and a key ec key using `SecKeyGeneratePair`
[code]

[2017-02-19 11:41] benguild commented on #70
This was closed without comment. Can I have an update, just out of curiosity?

[2017-02-21 10:33] lolgear commented on #116
@JanC
well, we need to strip asn1 header from openssl key, am I correct?
But why apple keys doesn't work well?

[2017-02-21 10:37] lolgear commented on #70
Version 3.0 will handle "whitelists" in different way. ( 3.0.0-beta.2 have this functionality )
You could choose algorithm and data by setup DataHolder ( Algorithm and data holder, oh, too long name ).
Then you could add data holders in chain to try to decode/encode. ( try first, fail, try next ... )

[2017-02-21 10:45] JanC commented on #116
I believe that could be the solution

Which ones? The one generated via `SecKeyGeneratePair` or the one I've got from Apple push notification service?

The _real_ push notification private key I've got from Apple also has the EC headers:
[code]

[2017-02-21 10:50] lolgear commented on #116
@JanC oh-oh-oh, I believe Apple has functions that cut headers from keys.
So, the path is:

[ ] add headers check functions ( separate function `keyByRemovingPublicHeader` )
[ ] add headers cut functions ( separate function `keyByRemovingPublicHeader` )
[ ] add headers retrieve functions

[2017-02-21 10:59] JanC commented on #116
and ?
[ ] add key retrieve functions

whose result would then feed the existing `SecKeyCreateWithData` ?

[2017-02-21 11:08] lolgear commented on #116
@JanC If I am correct, PEM files contain several structures/headers ( right? ) for different formats. However, we need to strip specific headers from, for example, public rsa key ( already implemented ).
It finds ASN.1 first, then it checks X509 header sequence and skip it if needed.
After cleaning data from all necessary ( or not ) structures/headers we get the key data for  `SecKeyCreateWithData

[2017-02-21 13:22] JanC commented on #116
yes that's how I see it as well :)

Btw "PEM" is just a way to encode and contain any ASN.1 key material (certificate, keys ..). So a PEM contains a header such as `-----BEGIN PRIVATE KEY-----`, `-----BEGIN EC PRIVATE KEY-----` or `-----BEGIN CERTIFICATE-----` ... and the base64 encoded ASN.1 structure.  The ASN.1 structure contains the key material that itself defined by its ASN.1 attributes. Be

[2017-02-21 13:43] lolgear commented on #116
@JanC "I honestly ignore what a EC key is composed of" that's why we have troubles with `SecKeyCreateWithData` ( Apple engineers ignore it too )

[2017-02-21 14:11] JanC commented on #116
:)
Btw this is also useful tool since it puts names on the ASN.1 object identifiers https://lapo.it/asn1js/

[2017-03-01 01:36] marcocasadio opened #125 "Error with JWTBuilder, Undefined symbols"
Hi,
I'm using last beta in my Xcode project and I downloaded the JWT package by Cocoapods.
I've included, in header of my controller, this:
`#import <JWT/JWT.h>`

I'm just trying to decode e JWT token string, with this simple line:
`JWTBuilder *builder = [JWTBuilder decodeMessage:token].algorithmName(algorithmName).options(@(YES));
`
but I get an error when I run it (see the attachment).

Anyone c

[2017-03-02 13:55] lolgear commented on #125
Try new version 3.0 as a hotfix:

[code]

[2017-03-10 10:08] lolgear commented on #125
@marcocasadio could you show podfile and also share sample project?

[2017-03-10 10:11] marcocasadio commented on #125
Hi, I've resolved!
There was some warning (not error!) so I removed some settings from Build Phases.
Now it works!

[2017-03-10 10:12] lolgear commented on #125
Happy to hear from you! :) close when you are ready!

[2017-04-04 13:21] lolgear commented on #125
@marcocasadio closed?

[2017-04-04 13:22] #125 closed

[2017-05-01 13:45] jupl opened #127 "3.0.0 Beta - Umbrella header JWT.h not found"
I installed the library with Carthage for a Swift project, but when I try to build I get the error mentioned in the title. The generated framework file does not have a `Header/` folder whereas all the other framework file in the project have that. If I use 2.2.0 the error is not present.

<img width="931" alt="screen shot 2017-05-01 at 8 36 01 am" src="https://cloud.githubusercontent.com/assets/20

[2017-05-10 13:55] yamiscott commented on #73
Hi @lolgear , I've just started trying out your library and I'm looking as RS256 (I actually want RS512, but that's another matter). I ran your tests for 3.0.0 Beta 3 and while they don't fail, they actually return nil from the token. The tests are referring to a file that doesn't exist.

Replacing the file names with the rs256-private.p12 and rs256-public.pem, the encoding and decoding works with

[2017-05-11 20:54] lolgear commented on #127
@jupl Hi! Could you point to specific commit / branch where it is occurred?

[2017-05-19 08:28] Azuritul opened #129 "Import without using cocoapod or carthage"
This is not an issue but a question.  Is there anyway I can import this library to my project without using Cocoapod or Carthage?  I copied the source code but it tells me that `<JWT/JWT.h>` cannot be found.   Any hint is appreciated.

Cheers

[2017-05-19 17:09] lolgear commented on #129
@Azuritul I suppose that another issue #127 could be connected.

However, try to use plain import `#import "JWT.h" `

[2017-05-22 02:23] Azuritul commented on #129
I think I'll use `#import "JWT.h"` for now. Thank you for the suggestion.

[2017-05-22 02:23] #129 closed

[2017-05-24 09:27] nommis commented on #127
I'm having the same issue in an Objective-c project with Carthage, with JWT version 3.0.0-beta3

[2017-05-24 18:19] lolgear commented on #127
@nommis @jupl Could you share sample project?

[2017-05-31 19:47] SpacyRicochet opened #130 "Question; How to use JWTBuilder's encode in Swift"
I am having trouble understanding the syntax of JWTBuilder's method chaining in Swift.

What would be the equivalent in Swift 3.0 of this line in Objective-C?

[code]

[2017-06-06 12:35] kashiftriffort opened #131 "JWTClaimsSet not showing value in payload"
I need to pass issuedAt and expirationDate using JWTClaimsSet. When I try to encode payload values after encodeClaimsSet, token generated showing wrong values. I am not getting payload values from token generated in payload section, it showing in header section. Please let me know what I am doing wrong.

    JWTClaimsSet *claimsSet = [[JWTClaimsSet alloc] init];
    NSDate *currentDate = [NSDate d

[2017-06-06 12:42] lolgear commented on #131
Hi!
You put payload in headers section.
[code]
I am not sure, that claims and payloads are supported simultaneously now. ( And I am not sure if it possible in standard )

You could encode either payload or claims. ( in current implementation ).

[2017-06-06 12:48] lolgear commented on #130
@SpacyRicochet Hi!

What are you looking for?
Yes, deprecated method is fine now.
In future it will be back. ( awesome phrase )

[code]

[2017-06-06 15:17] kashiftriffort commented on #131
I have seen that is possible in Android repo, one of my devs have done
claimsSet and Payload in one .

On 06-Jun-2017 6:34 PM, "Dmitry" <notifications@github.com> wrote:

[2017-06-06 15:22] kashiftriffort commented on #131
Claims and Payload both are working simultaneously in Android. Token generated showing payload and claims both in payload section. How that is done in Android.

[2017-06-06 19:01] lolgear commented on #131
Could you add reference to appropriate standard documentation?

Maybe I miss something.

[2017-06-08 05:03] kashiftriffort commented on #131
I am not able to download latest version of JWT via podfile. I am using this pod "JWT-3.0.0-beta.2". Please let me know if this is correct or any other thing is required

[2017-06-08 09:43] SpacyRicochet commented on #130
Huh, weird. Somehow that failed to work for me spectacularly. But I might be doing something wrong or relying too much on code completion. Will get back to you on that ;)

[2017-06-08 10:06] kashiftriffort commented on #131
This is the android code. Please let me know if this is possible in iOS. As I have tried many ways of doing.

Jwts.builder().claim("email",username).claim("password",password).claim("type","WIFOG").claim("app","1").claim("login","app")
                    .setIssuedAt(new Utility(mContext).getNowTime().getTime()).setExpiration( new Utility(mContext).getExpTime().getTime())
                    .sig

[2017-06-08 14:15] lolgear commented on #131
@kashiftriffort These 'claims' are not standard claims.
Non-standard 'claims' are not supported right now.

[code]

Could you provide a token for your example with SecretKey in Base64 format ( or without signing by applying None algorithm )?

[2017-06-09 02:19] andriajensen opened #132 "Encoding in 3.0.0-beta.2 does not allow for using a secret that is not base64 encoded"
### New Issue Checklist

* [x] I have read and understood the [CONTRIBUTING guide](https://github.com/yourkarma/JWT/blob/master/.github/CONTRIBUTING.md)
* [x] I have read the [Documentation](https://github.com/yourkarma/JWT#documentation)
* [x] I have searched for a similar issue in the [project](https://github.com/yourkarma/JWT/issues) and found none

### Issue Info

 Info                    | Va

[2017-06-09 04:14] kashiftriffort commented on #131
Token:

eyJsb2dpbiI6ImFwcCIsInBhc3N3b3JkIjoiMTIzNDU2NzgiLCJhcHAiOiIxIiwiYWxnIjoiSFMyNTYiLCJlbWFpbCI6Imthc2hpZmppbGFuaTE5OTFAZ21haWwuY29tIiwidHlwZSI6IldJRk9HIiwidHlwIjoiSldUIn0.eyJleHAiOjE0OTY5ODEzOTUsImlhdCI6MTQ5Njk4MTM4MH0.dfRPwlUh4Jo9sNvaQY4-nuqqIKZSoNp7Qo4caQAqUzM

SecretKey in Base64 format

c2VjcmV0

Below are the information coming in Header section, however I want that in Payload section.

[2017-06-15 21:57] alexshepard commented on #131
Hi, for what it's worth, mixing reserved (what this library calls a ClaimsSet) and public/private (what this library calls a payload) claims seems to be supported in the JWT RFC, and is even listed as an example in the RFC doc.

From https://tools.ietf.org/html/rfc7519:
[code]

[2017-06-20 16:04] lolgear commented on #132
@andriajensen Hi!
Am I right that this could be solved by adding string streamers/coders in dataHolders?

In perspective:

[code]

[2017-06-20 18:25] lolgear commented on #132
@andriajensen

Could you check latest master?

#134

[2017-06-20 18:25] lolgear commented on #131
@alexshepard @kashiftriffort

Could you check latest master?

#134

[2017-06-23 09:20] lolgear commented on #130
@SpacyRicochet you could look at JWTDesktopSwift for JWT usage in Swift

[2017-06-23 23:59] vfxdrummer commented on #81
Is Swift available for JWT? Thanks.

[2017-06-24 05:07] lolgear commented on #81
@vfxdrummer I hope so. You could try JWTDesktopSwift in latest master.

[2017-06-28 19:47] andriajensen commented on #132
This seems like a sane approach.

[2017-07-03 12:21] lolgear commented on #127
#135 is it related?

[2017-07-11 20:27] benjamindohertysc commented on #121
I'm confused about this issue- is RS256 with PEM formatted keys not already supported? The "Keys loaded from Pem files" example in the README seems to hint otherwise, unless I'm missing something.

[2017-07-12 13:41] lolgear commented on #121
@benjamindohertysc it is only a blueprint.

In case of big plans ( EC support ), API could change.
Maybe it is better to hold EC support for version 3.1 or later.

[2017-07-20 17:47] andriajensen commented on #132
Looks like it works with latest master.  However, I'm seeing a new issue that I'll open another for.

[2017-07-20 17:47] #132 closed

[2017-07-20 17:58] andriajensen opened #136 "Error when using KeyExtractor: Use of unresolved identifier 'JWTCryptoKeyExtractor'"
### New Issue Checklist

* [x ] I have read and understood the [CONTRIBUTING guide](https://github.com/yourkarma/JWT/blob/master/.github/CONTRIBUTING.md)
* [ x] I have read the [Documentation](https://github.com/yourkarma/JWT#documentation)
* [x ] I have searched for a similar issue in the [project](https://github.com/yourkarma/JWT/issues) and found none

### Issue Info

 Info                    |

[2017-07-20 18:42] andriajensen commented on #136
@lolgear it looks like this is already fixed in master.  Can you publish a new pod version to include this fix?

[2017-07-20 18:44] andriajensen commented on #136
#133 fixed this issue.

[2017-07-21 10:25] lolgear commented on #136
Sure! I could post a new beta version asap.

[2017-07-25 11:13] lolgear commented on #136
#137

[2017-08-02 15:50] tyleralves commented on #62
Using the above code I'm getting the following error:

[2017-08-02 16:11] lolgear commented on #62
@tyleralves Hi!
Nice to hear about any bugs!

Could you post example of your data ( Or code that extracting your private keys data )?

[2017-08-02 16:14] tyleralves commented on #62
@lolgear I think it might be due to not including the passphrase that goes along with the private key. How would you include a passPhrase in this example?

[2017-08-02 16:30] lolgear commented on #62
@tyleralves As I remember, you could pass passphrase into Data Holder:

[code]

[2017-08-02 16:37] tyleralves commented on #62
@lolgear Thanks a ton for taking the time to take a look at this.

Is my private key in the proper format?
[code]

[2017-08-02 16:42] lolgear commented on #62
If you have an ability to debug JWT, you could try to input this format into

[code]

The example above ( first example for Wstunnes ) assumes that key is in raw format without any pen headers.

[2017-08-02 21:26] tyleralves opened #138 "RS256 fails on one private key but works on another"
### New Issue Checklist

* [x] I have read and understood the [CONTRIBUTING guide](https://github.com/yourkarma/JWT/blob/master/.github/CONTRIBUTING.md)
* [x] I have read the [Documentation](https://github.com/yourkarma/JWT#documentation)
* [x] I have searched for a similar issue in the [project](https://github.com/yourkarma/JWT/issues) and found none

### Issue Info

 Info                    | Va

[2017-08-07 07:58] lolgear commented on #136
@andriajensen it would be nice if you could add demo/tes-case for your specific issue, thanks!

[2017-08-07 08:02] lolgear commented on #138
@tyleralves
Could you try `signKey()` property of data holder?

[code]

I think that there is a pitfall in guts of RSA algorithm implementation.
However, you have an OS error, so, some parameters are not passed well to system functions.

[2017-08-07 08:07] lolgear commented on #136
@andriajensen sorry, I missed! :) I mean previous issue with custom string to data transform. #132

[2017-08-11 08:57] hfqf commented on #62
The same to me!
Error Domain=io.jwt Code=-92 "It seems that signing output corrupted. Make sure signing worked (e.g. we may have issues extracting the key from the PKCS12 bundle if passphrase is incorrect)." UserInfo={NSLocalizedDescription=It seems that signing output corrupted. Make sure signing worked (e.g. we may have issues extracting the key from the PKCS12 bundle if passphrase is incorrect)

[2017-08-15 16:17] mitchellthomas186 opened #139 "RS256 verification fails with valid public key"
### New Issue Checklist

* [x] I have read and understood the [CONTRIBUTING guide](https://github.com/yourkarma/JWT/blob/master/.github/CONTRIBUTING.md)
* [x] I have read the [Documentation](https://github.com/yourkarma/JWT#documentation)
* [x] I have searched for a similar issue in the [project](https://github.com/yourkarma/JWT/issues) and found none

### Issue Info

 Info                    | Va

[2017-08-15 19:39] tyleralves commented on #138
This seems to be and iOS issue that is common across a few different libraries.

I was able to just generate a new token from the api and it works great.

[2017-08-15 20:02] lolgear commented on #138
@tyleralves did you save broken private key? maybe it should be inspected by security kit. Could you put it somewhere?

[2017-08-15 20:04] lolgear commented on #139
@mitchellthomas186 does previous issue related to yours? #138

[2017-08-15 22:22] mitchellthomas186 commented on #139
No, I have a public key that is generated server side and the error I get
is that the data is not base 64 encrypted.

On Aug 15, 2017 1:04 PM, "Dmitry" <notifications@github.com> wrote:

[2017-08-17 10:00] lolgear commented on #139
@mitchellthomas186 try to create dataHolder with signKey/verifyKey item. ( `.verifyKey()` )

JWTPublicKey -initWithPemBase64 will help you.

[2017-08-17 16:19] lolgear commented on #139
@mitchellthomas186 I checked your example via tests project. Everything decoded fine.
However, when I decoded your example via Inspection project, it fails.
Need more observations.

[2017-08-18 20:31] mitchellthomas186 commented on #139
I can't find the class JWTPublicKey in any of the repo files, and xcode is throwing an error when I try to call it.

Give that I have a public key as a string, can you tell me the actual code I need to use to verify the signature part of a JWT using your JWT pod?

[2017-08-22 13:56] ruslan-bikkinin opened #141 "RS256 signature verification crashes application"
### New Issue Checklist

* [x] I have read and understood the [CONTRIBUTING guide](https://github.com/yourkarma/JWT/blob/master/.github/CONTRIBUTING.md)
* [x] I have read the [Documentation](https://github.com/yourkarma/JWT#documentation)
* [x] I have searched for a similar issue in the [project](https://github.com/yourkarma/JWT/issues) and found none

### Issue Info

 Info                    | Va

[2017-08-22 14:02] ruslan-bikkinin commented on #141
Well this is the only jwt library in objective-c world, so i hope that you, guys, will help me with that because to be honest with you i am fighting with this trouble for a while i tried different ways to make it work with no success.

[2017-08-22 14:35] lolgear commented on #141
@ruslan-bikkinin Hi! Please, post a version of JWT that was crashed.

[2017-08-22 14:42] lolgear commented on #141
@ruslan-bikkinin Hi! Please, post a version of JWT that was crashed.
Sorry, I missed version in your post.
Ok, I copy your example data to project - everything works.
Could you check latest master? ( #142 after this PR merged ).
You could clone repo and check Tests -> JWTIssuesSpec.m for your example.

[2017-08-22 15:07] ruslan-bikkinin commented on #141
Well, i checked out  master branch of `lolgear\JWT`repo but cant build the project. I ran `pod install` from `Tests` directory, the output was
[code]
Than I opened `Tests\Tests.xcodeproj` and tried to build it. I got error on linking stage:

[code]

[2017-08-23 11:11] ruslan-bikkinin commented on #141
I decided to try to install JWT library with cocoa pods and my code became to work properly! It seems to be, that i did something wrong with manual installation. I close it, but submit new issue with request about help with manual installation.

[2017-08-23 11:11] #141 closed

[2017-08-23 11:58] ruslan-bikkinin opened #143 "Manual installed JWT lib breaks application during RSA signed jwt verification"
### New Issue Checklist

* [x] I have read and understood the [CONTRIBUTING guide](https://github.com/yourkarma/JWT/blob/master/.github/CONTRIBUTING.md)
* [x] I have read the [Documentation](https://github.com/yourkarma/JWT#documentation)
* [x] I have searched for a similar issue in the [project](https://github.com/yourkarma/JWT/issues) and found none

### Issue Info

 Info                    | Va

[2017-08-23 13:23] lolgear commented on #143
Hi!
Could you make a diff between files that are shipped in each kind of installation?

Also, verify all required frameworks ( Security is a corner stone for all functions in this library ( and all iOS system calls, hic ) ). They should be linked with your output binary.

[2017-08-23 13:28] ruslan-bikkinin commented on #143
I am sorry, do you mean to show changes i did to library sources during manual installation?

[2017-08-23 13:51] ruslan-bikkinin commented on #143
I linked my library with `Security.Framework` and `Foundation.Framework` (there are nothing more, i suppose), but it didn't help me.

[2017-08-24 09:30] ruslan-bikkinin commented on #143
I fixed problem by adding Base64 library to my project.  @lolgear the only thing that bothering me a little is that i had to remove header path prefixes (`JWT/` and `Base64/`) to prevent `Header can not be found` compilation errors  in those files which errors pointed to. Do you have any thoughts how to manual install libraries without changing their code that way?

[2017-08-24 09:33] lolgear commented on #143
@ruslan-bikkinin could you post example project with fix? ( the history of changes would be brilliant )

[2017-08-24 12:56] ruslan-bikkinin commented on #143
@lolgear Okay, I'll do it when I will have some time.

[2017-09-01 14:12] ruslan-bikkinin commented on #143
@lolgear, hi again, i prepared [demo repository](https://github.com/ruslan-bikkinin/demo_jwt_manual_inst) for you with sample project. This is simple react native project which i have been created using `react-native init` command. All steps of manual installation of JWT library into it are present in it's commits. Before opening project in Xcode, please run `npm i ` from root of it (it requires n

[2017-09-01 15:55] lolgear commented on #143
@ruslan-bikkinin your approach assume that source code uses 'as-is' without additional libraries or frameworks.

Statement
[code]
Means that you would like to search for target named JWT with JWT.h umbrella header.

Statement
[code]
Means that you would like to search in user space ( in project space, as you wish ) or in main target space.

So, it is correct that in your case import statement coul

[2017-09-04 12:38] ruslan-bikkinin commented on #143
@lolgear thank you for your response! I followed steps you provided, but unfortunately have no idea how to deal with Base64, because it's need to be added as submodule too. Well, i updated my repo, please take a look what I did and if i did something wrong point it to me.

[2017-09-05 07:24] lolgear commented on #143
@ruslan-bikkinin hi,
JWT library doesn't rely on Base64 library. They are weak coupled. So, if you have Base64 library, you could use it with JWT.

[2017-09-05 11:20] ruslan-bikkinin commented on #143
@lolgear yes, i understand that and I tried to integrate Base64 library independently from JWT, but for some reason JWT can not find it. Please, take a look at demo repo, may be you could help me to configure  it correctly. That's the only trouble here for now.

[2017-09-08 10:36] Clax666 commented on #139
I also have the same issue. I checked token and public key via jwt.io and they are correct, however the following code results in a decode error:

[code]

[2017-09-09 06:45] lolgear commented on #139
[code]
is deprecated and may not be correct in new features.

Try API 3.0

[code]
[code]

[2017-09-09 06:50] lolgear commented on #143
@ruslan-bikkinin
The simplest way to install JWT in your case - just don't install Base64 framework. :)

I am not sure if it is necessary for you, because it is a legacy dependency for CocoaPods dependencies manager.

[2017-09-11 07:37] ruslan-bikkinin commented on #143
@lolgear unfortunately, if Base64 framework will be abscent, JWT verification will lead to BAD_EXCL and app crash. I don't know why.

[2017-09-11 10:44] lolgear commented on #143
@ruslan-bikkinin
#144 try latest master

[2017-09-19 14:00] ruslan-bikkinin commented on #143
@lolgear thanks for the support, I have followed steps and advices you provided and now demo is working well without crashes. If instructions of how to manually install library in the project was in the docs it would save a lot of time for me 😃
Please, if you will have free time add missing documentation section about manual library installation. Thanks again for helping me.

[2017-09-19 14:00] #143 closed

[2017-09-20 08:47] nico-WX opened #145 "Can you support ES256?"
### New Issue Checklist

* [ ] I have read and understood the [CONTRIBUTING guide](https://github.com/yourkarma/JWT/blob/master/.github/CONTRIBUTING.md)
* [ ] I have read the [Documentation](https://github.com/yourkarma/JWT#documentation)
* [ ] I have searched for a similar issue in the [project](https://github.com/yourkarma/JWT/issues) and found none

### Issue Info

 Info                    | Va

[2017-09-20 08:57] lolgear commented on #145
@nico-WX I didn't investigate this feature for a long time.
In previous versions ( prior to iOS 10 and macOS 12 ) Security framework doesn't have this feature.

[2017-09-20 10:21] nico-WX commented on #145
I looked at the AppleMusicKit to create the developer token, and I need to specify the JWT algorithm as ES256, so I would like to know if I can support ES256 😄😄

[2017-09-20 10:34] lolgear commented on #145
@nico-WX Any help will be appreciated :)

Nevertheless, it seems that they added EC support in os 13 and, I suppose, in iOS 11.

[code]

[2017-09-24 10:47] JanC commented on #145
Hi,
I think this is a duplicate of #116 ;)

[2017-09-24 12:26] lolgear commented on #145
@JanC Right!
Do you know how to mark issues as duplicates?

[2017-09-24 14:50] JanC commented on #145
I think you can simply close it :)

[2017-09-28 14:18] max-mironov opened #146 "JWTCryptoSecurity : addKeyWithData method doesn't work on iOS 9"
### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform Name           | ios
 Platform Version        | 9.0
 Xcode Version           |  Xcode 9
 Repro rate              | (100%)

### Issue Description and Steps

Hi guys, we are working on [react-native codepush plugin](https://github.com/Microsoft/r

[2017-09-28 16:11] lolgear commented on #146
@max-mironov hi!
So, a hint:

[code]

ToDo: Add error handling later.

Just change it to
[code]
Please, write back when you find any clues!
Thanks!

[2017-09-29 08:06] max-mironov commented on #146
@lolgear Thanks for the response!
So I've added error handler but not sure if this is useful, it just return error code `0`, that's it.
[code]
From this [thread](https://forums.developer.apple.com/thread/13748):
[code]
What do you think, is it the same issue and could it be helpful?

[2017-09-29 16:07] max-mironov commented on #146
@lolgear
I've done some more experiments and what I've found out so far:
1) Followed this thread http://blog.flirble.org/2011/01/05/rsa-public-key-openssl-ios/ and added
[code]
method to `JWTEncodingBuilder ` class.
2)  In `decode` method I've added the following:
[code]
before this lines https://github.com/yourkarma/JWT/blob/dd5b5a9bc650b80b1326bd64d055bfd005ef9bdd/Core/Coding/JWTCoding%2BVersion

[2017-10-01 16:23] lolgear commented on #146
@max-mironov no, stripping header inside coding methods is not an option in current approach.
It should be done somewhere inside JWTCryptoKey or JWTCryptoSecurity.
JWTCryptoSecurity, as I remember, has stripping public header method.
Possible extension of this method ( by implementing in subclass or in-place extension ) could solve issue.

[2017-10-02 11:28] max-mironov commented on #146
@lolgear thanks for pointing at this!

So indeed there is a method for stripping public key header but it seems that it is not working now.
It should be applied [here](https://github.com/yourkarma/JWT/blob/master/Core/Algorithms/RSFamily/RSKeys/JWTCryptoKey.m#L117) but it is not due to [this condition](https://github.com/yourkarma/JWT/blob/master/Core/Algorithms/RSFamily/RSKeys/JWTCryptoKey.m#L116

[2017-10-03 09:35] lolgear commented on #146
@max-mironov Hi!

[code]

I think this method could have non-optional result with default value
[code]
to be coherent with
[code]

As a result we have updated method:

[code]

[2017-10-03 09:45] lolgear commented on #146
@max-mironov
`but it is nil as parameters are also always nil because they are initialized here:`
Yes, it is always ```nil``` in case of several conditions.

1. It is a blueprint.
2. CryptoKey was intended to handle both EC and RSA algorithms.
3. JWTRSAlgorithm also ( my assumption ) could be converted with or without pain to handle EC cryptography.

After all,
Thanks for so thorough code analysis

[2017-10-03 13:08] max-mironov commented on #146
@lolgear thanks for explanation. I've created PR https://github.com/yourkarma/JWT/pull/147, can you please review?

[2017-10-03 13:32] lolgear commented on #146
@max-mironov
yes, nice PR.
Did you test it in your issue?

I think we should add some more tests against specific iOS/OS X versions.
Not sure if we could add them via Travis CI. It has some limitations at the time of integration. I will check it later.

[2017-10-03 14:02] max-mironov commented on #146
@lolgear
Thanks, I've tested it on my side with iOS11, iOS10.3 (real devices) and iOS9.3 (on emulator only). Working good for me.

[2017-10-03 14:11] lolgear commented on #146
@max-mironov
Was it broken on iOS 9.3 emulator before?

[2017-10-03 14:13] max-mironov commented on #146
@lolgear
Yes, it was not working on emulator before.

[2017-10-03 14:14] lolgear commented on #146
@max-mironov
nice work!
let's merge it!

[2017-10-03 14:16] max-mironov commented on #146
@lolgear
Thanks for your help with this, I'm closing the issue now as it is fixed.

[2017-10-03 14:16] #146 closed

[2017-10-04 00:31] forbze commented on #121
I've spent the last few hours trying to read a PEM file in thinking it was implemented - I'd recommend putting a note on the README to explain its current state and tips to get it working.

Current state also does not support the ----BEGIN PRIVATE KEY---- / ----END PRIVATE KEY---- markers in the files. Once I removed those and hardcoded the public key in a string without the line breaks, everythin

[2017-10-04 09:30] lolgear commented on #121
@forbze try #148

[2017-10-05 08:31] jakobsa opened #149 "verifyKey is not taken into cond"
Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform Name           | ios
 Platform Version        | 10
 CocoaLumberjack Version | 2.3.0
 Integration Method      | cocoapods
 Xcode Version           | Xcode 8.3
 Repro rate              |  all the time (100%)
JWT Version          | 3-beta4

### Issue Description a

[2017-10-05 08:41] lolgear commented on #149
@jakobsa Hi!
It is definitely a bug or a big bone! :)
What did you expect and how you would like to solve this?

The core point now is that holders MUST have secretData as a core point of signature purposes. (not good point :/)
Yes, they are too coupled to main HS algorithm. ( which intended to have secretData ).

If you would like, we could make a list of appropriate considerations and desires to

[2017-10-05 09:03] jakobsa commented on #149
@lolgear

For me only token verification was relevant, so I didn't consider the implications of signing much.
I am not deep enough into the sources to really make qualified suggestions but I will give it a shot as sometimes a outsiders view can be refreshing (or at least funny ;) ).

My suggestions are only valid if the following assumptions are true:
- SecretData is an arbitrary data format for k

[2017-10-05 14:53] lolgear opened #150 "Move project somewhere."
I would like to move project somewhere.

- Create/Use custom organization.
- Replace my fork as a root.

The main advantage of organization is grant access to core team. ( If anybody want to support project ).
The situation is bad now, I can't move repository nor delete it nor add some custom CI ( I want CircleCI support also ).

What about custom organization?
Which name?

- JWT
- JWT.ObjectiveC

[2017-10-10 09:49] ruslan-bikkinin commented on #146
@lolgear could you please release patch for current version including this fix so we could use it for our CodePush Cordova SDK?

[2017-10-11 19:22] aluco100 opened #152 "Error Domain=io.jwt Code=-97 "Invalid signature!" on RS256"
Hi, I'm using a valid RS256's secret for an access token, but I have an invalid signature by the `JWTDecodingBuilder`. I write the following code in swift:

[code]

And I get back this error:

`Error Domain=io.jwt Code=-97 "Invalid signature! It seems that signed part of jwt mismatch generated part by algorithm provided in header." UserInfo={NSLocalizedDescription=Invalid signature! It seems that

[2017-10-12 10:11] lolgear commented on #152
@aluco100
well, you shouldn't use exclamation marks in this library in case of unknown nullability modifier.
( It is intended to support iOS prior to 6 version, I don't know if anybody use it. So, we don't put any modern clang items into it for Xcode 5 compatibility. ) (I am not sure about this :))

In fact, correct usage in Swift:

[code]

Next, I can't see your key.
It has troubles in retrieving

[2017-10-12 10:37] rmorgancafex opened #153 "ld: library not found for -lBase64"
Hi, I am getting the above error when trying to build my cocoapods project, is there something I am missing?

"ld: library not found for -lBase64"

[2017-10-12 10:39] lolgear commented on #153
@rmorgancafex Hi!
Could you describe whole process and/or attach sample project?

[2017-10-12 10:47] rmorgancafex commented on #153
Hi @lolgear - thanks for the quick reply...

I am just trying to create a jwt token from a random payload. So far I have included the JWT lib via cocoapods and added this code to my view controller:

NSDictionary *payload = @{@"payload" : @"hidden_information"};
    NSString *algorithmName = @"RS256";

    NSString *filePath = [[NSBundle mainBundle] pathForResource:@"certificate.p12" ofType:@"p12"

[2017-10-12 10:49] lolgear commented on #153
Could you post your pod file here?
Do you enable ```use_frameworks!``` option?

[2017-10-12 10:50] rmorgancafex commented on #153
Not from the looks of this ...

# Uncomment the next line to define a global platform for your project
# platform :ios, '9.0'

target 'mschat-finance-sample' do
  # Uncomment the next line if you're using Swift or would like to use dynamic frameworks
  # use_frameworks!

  # Pods for mschat-finance-sample
  pod "JWT"
  pod "Base64"
end

[2017-10-12 10:51] rmorgancafex commented on #153
`# Uncomment the next line to define a global platform for your project
# platform :ios, '9.0'

target 'mschat-finance-sample' do
  # Uncomment the next line if you're using Swift or would like to use dynamic frameworks
  use_frameworks!

  # Pods for mschat-finance-sample
  pod "JWT"
  pod "Base64"
end`

[2017-10-12 10:52] lolgear commented on #153
@rmorgancafex Could you upload sample project with this setup?
I suppose that commenting line ```pod "Base64"``` could fix issue.

[2017-10-12 11:00] rmorgancafex commented on #153
No joy, I'm afraid... still get this error -

ld: framework not found -lBase64

Here's my Other Linker Flags:

$(inherited) -ObjC -framework

[2017-10-12 11:08] lolgear commented on #153
@rmorgancafex
could you post sample project with your setup?

[2017-10-12 11:09] rmorgancafex commented on #153
@lolgear Sorry, I can't post the sample project

[2017-10-12 11:12] lolgear commented on #153
@rmorgancafex
I need more information to fix this issue if it exists in your setup.
Could you create a new project with exact behavior that you encountered?

[2017-10-12 12:08] aluco100 commented on #152
My issue it's still occuring. My code is this:

[code]

What would be happening?

[2017-10-12 13:41] lolgear commented on #152
@aluco100
Could you post output of extraction function ( in JWTCryptoSecurity )

[code]

[2017-10-12 20:09] aluco100 commented on #152
@lolgear  my output is:

`MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAoPryo3IisfK3a028bwgso/CW5kB84mk6Y7rO76FxJRTWnOAla0Uf0OpIID7go4Qck66yT4/uPpiOQIR0oW0plTekkDP75EG3d/2mtzhiCtELV4F1r9b/InCN5dYYK8USNkKXgjbeVyatdUvCtokz10/ibNZ9qikgKf58qXnn2anGvpE6ded5FOUEukOjr7KSAfD0KDNYWgZcG7HZBxn/3N7ND9D0ATu2vxlJsNGOkH6WL1EmObo/QygBXzuZm5o0N0W15EXpWVbl4Ye7xqPnvc1i2DTKxNUcyhXfDbLw1ee2d9T/WU5895Ko2bQ/O/zPwUSobM3m+f

[2017-10-12 22:51] lolgear commented on #152
@aluco100
try to set secretData to ```Data()```

I suppose it is the same issue:

#149

[2017-10-13 12:16] aluco100 commented on #152
Well, I can use `JWTCryptoSecurity.publicKey(fromCertificate: publickey.data(using: .utf8)!)` or anything else?

Best Regards

[2017-10-13 13:02] lolgear commented on #152
try

[code]

[2017-10-16 12:14] aluco100 commented on #152
I use this:

[code]

As you said but I'm still getting the same issue. Any idea?

[2017-10-16 14:04] lolgear commented on #152
@aluco100
Could you attach sample swift project with fresh generated keys and test data?

Besides, try to encode and decode any data by the same holder that you posted above.
( If your data comes somewhere outside )

[2017-10-16 14:28] aluco100 commented on #152
there is my sample code:

[SampleSignature.zip](https://github.com/yourkarma/JWT/files/1387788/SampleSignature.zip)

Best Regards

[2017-10-16 19:21] lolgear commented on #152
@aluco100 well...
Short story is I need time to investigate your issue. Somehow in deep of CryptoKey your key is not properly formed.
And after that I have found another issue related or not.
I have found that base64 secrets are not well formed. ( So that's is why it is still in beta, heh )

[2017-10-17 11:37] aluco100 commented on #152
Ok, so is it a base 64 bug?

Best Regards

[2017-10-17 15:55] lolgear commented on #152
@aluco100 I've solved that puzzle! :)
I could post your project here and if you don't mind, I would like to post your token/secret as a part of JWTDesktop app. ( default setup for rs256 )

The core thing is to use JWTCryptoKeyPublic instead of "abstract" JWTCryptoKey.

[2017-10-17 15:57] lolgear commented on #153
@rmorgancafex any updates?

[2017-10-17 16:37] rmorgancafex commented on #153
Yes, sorry. I added in the base64 framework and it worked :) Thanks for
your help!

On 17 October 2017 at 17:31, Dmitry <notifications@github.com> wrote:

--
--
---
Richard Morgan
Developer Advocate

CaféX Communications, 3 Eastern Business Park, Wern Fawr Lane, St Mellons,
Cardiff, CF3 5EA
rmorgan@cafex.com

Follow us on LinkedIn
<http://www.linkedin.com/company/3288106?trk=tyah&trkInfo=tas%3Acaf

[2017-10-17 16:39] aluco100 commented on #152
It's Ok. Can you give me an example to use this?

Best Regards

[2017-10-17 17:21] lolgear commented on #152
@aluco100
Here it is
[SampleSignature.zip](https://github.com/yourkarma/JWT/files/1391960/SampleSignature.zip)

[2017-10-17 18:17] aluco100 commented on #152
Ok @lolgear  that's works perfectly. Thanks a lot for your patience!

[2017-10-17 18:18] #152 closed

[2017-10-18 14:26] lolgear commented on #153
@rmorgancafex no problem!
Could you describe your case (the problem and the solution) in nutshell to prevent further questions in this topic?

[2017-10-18 14:27] lolgear commented on #139
@Clax666 any updates?

[2017-10-18 14:28] lolgear opened #155 "Add wiki"

[2017-10-18 14:35] Clax666 commented on #139
I can confirm that everything is ok with API 3.0

2017-10-18 16:27 GMT+02:00 Dmitry <notifications@github.com>:

[2017-10-18 14:37] lolgear commented on #139
@Clax666
Could it be closed?

[2017-10-18 14:37] lolgear commented on #138
@tyleralves
could it be closed?

[2017-10-18 14:37] Clax666 commented on #139
Yes, to me it can be closed

2017-10-18 16:37 GMT+02:00 Dmitry <notifications@github.com>:

[2017-10-18 14:38] #139 closed

[2017-10-18 14:39] lolgear commented on #136
@andriajensen
could it be closed?

[2017-10-18 14:40] lolgear commented on #131
@alexshepard @kashiftriffort
could it be closed?

[2017-10-18 14:41] lolgear commented on #127
@nommis @jupl
could it be closed?

[2017-10-18 14:43] lolgear commented on #121
@forbze
could it be closed?

[2017-10-18 14:52] #136 closed

[2017-10-19 09:39] forbze commented on #121
Sorry - I haven’t had chance to test, but the commit looks like it would fix the problems. Happy to close my part.

[2017-10-28 17:52] #131 closed

[2017-10-29 11:34] lolgear commented on #116
@JanC could you add test data for EC keys? I would like to add support for it even if only latest OS could use it.

[2017-10-30 08:53] icedice commented on #62
I'm having a hard time getting this lib to work, any help would be greatly appreciated. I'm trying to decode and validate a JWT in swift using this lib. The JWT is signed with RS256 private key.
What I am unable to understand is:

1) What would the proper swift syntax for this be, and what version of the lib should I use?
2) What input secret should i pass? A self signed certificate with the publi

[2017-10-30 17:41] lolgear commented on #62
@icedice I started digging inside your issue and found some memory leaks :)

Try using JWTDesktop instead of JWTDesktopSwift.

1. Version three. I will prepare later a wiki page for swift syntax.
2. It is possible to pass formats as PEM and plain Base64. PEM could contains headers.

As an example you could use a zip from issue #152

[2017-10-31 08:48] icedice commented on #62
Awesome! It's working now. Thanks a lot for helping me out.

The only thing that still puzzles me is that this works with the plain/pem public key. I found a SO answer which is using til lib (older version) that clearly states that apple does not support doing it this way so you need to pack the public key in a self signed cert to make it work. The SO link: https://stackoverflow.com/questions/4362

[2017-10-31 09:27] lolgear commented on #62
#73
The last comment could clarify some points about Security framework.

It has options to create Security keys from the raw values, but it is too complex and Apple doesn't recommend.
However, at iOS 10 they introduced method to prune down this process.

About compatibility - you could try to use certificate, I hope it works :)
It would be nice to test PEM files but If you have release app - it i

[2017-11-02 12:28] icedice opened #158 "claimSet empty"
### New Issue Checklist

* [x] I have read and understood the [CONTRIBUTING guide](https://github.com/yourkarma/JWT/blob/master/.github/CONTRIBUTING.md)
* [x] I have read the [Documentation](https://github.com/yourkarma/JWT#documentation)
* [x] I have searched for a similar issue in the [project](https://github.com/yourkarma/JWT/issues) and found none

### Issue Description and Steps

I'm missing

[2017-11-02 12:35] lolgear commented on #158
@icedice
Hi!
Nice to hear, I have not found any appropriate invocation of SuccessResult with claimsSet.
It seems a bug.

Could you describe an expected behavior more precisely?
Should claims be mixed with headers and payload?

[2017-11-02 12:51] icedice commented on #158
I would simply expect that when I decode a JWT with the JWTDecodingBuilder, and the decoding is a success, then I should be able to access standard claims in the ClaimSet in successResult.claimsSet like the issuer and the subject, but the claimSet seems to be nil always which is what is puzzling me...

Here is my code:

`     var crypto: JWTCryptoKeyProtocol? = nil
            do {

[2017-11-02 15:29] lolgear commented on #158
@icedice try latest master

[2017-11-07 08:26] lolgear commented on #158
@icedice could be closed?

[2017-11-07 08:26] lolgear commented on #153
@rmorgancafex could be closed?

[2017-11-07 11:45] rmorgancafex commented on #153
Yes. Thanks

[2017-11-07 11:45] #153 closed

[2017-11-08 17:10] icedice commented on #158
Yes. sorry. The issue is resolved and can be closed.

[2017-11-13 08:09] #158 closed

[2017-11-15 15:48] icedice opened #161 "Missing umbrella header"
### New Issue Checklist

* [ x] I have read and understood the [CONTRIBUTING guide](https://github.com/yourkarma/JWT/blob/master/.github/CONTRIBUTING.md)
* [ x] I have read the [Documentation](https://github.com/yourkarma/JWT#documentation)
* [ x] I have searched for a similar issue in the [project](https://github.com/yourkarma/JWT/issues) and found none

### Issue Info

 Info                    |

[2017-11-16 08:08] icedice commented on #161
Ok I see now that there is no header files in the framework. Maybe it did not build correct anyway.  Is it possible to build it with carthage?

[2017-11-16 08:25] lolgear commented on #161
@icedice Hi!
Could you try to specify latest commit instead of branch?

[2017-11-16 12:34] icedice commented on #161
Oh yes. Seems to work. Thanks. Will there be a new release soon so we don't need to target specific commit?

[2017-11-18 10:14] lolgear commented on #161
@icedice Could you compare and post Carthage.resolved file content in both situations ( branch-oriented approach vs commit-oriented approach )?

Wow, do you use this library as a dependency for your sdk?

[2017-11-19 11:38] icedice commented on #161
Well I use it as a helper in a login module for a app, its not really a SDK.  Why wow? Would that be bad?

[2017-11-19 14:02] lolgear commented on #161
@icedice no, wow as amusement :)

If you develop an application with modules, which are injected into an app via Cocoapods, you will faced with problems that you specify above. ( Podspec can't point to dependency via commit )

However, I released new version which solved CocoaPods dependencies, not a Carthage.

Could you compare content of Cartfile.resolved in both situations with a commit and wit

[2017-11-20 16:31] flash23 commented on #116
Hi,

I downloaded 3.0.0-beta.7, I don't see support for es256.

Will this be ready and when for 3.0.0 release?

thx

[2017-11-20 16:34] JanC commented on #116
@lolgear, sorry I missed your comment. Yes I will upload some keys that I use

[2017-11-24 14:39] lolgear commented on #116
@flash23 still in progress. I suppose that ES256 is available only for macOS 10.13 and iOS 11 ( system API )

[2017-11-26 13:00] flash23 commented on #116
Hi @lolgear @JanC

I made ES256 with openssl I verified it and it works. I am in hurry so I cant wait ;)

But maybe you can use the code for your lib. I will switch to your lib when u implement it....

-(NSData*) SHA256withECDSA_JWT:(NSString*)privateKeyPEM and:(NSData*)dataToSign
{
    char *pemC = (char*)[privateKeyPEM cStringUsingEncoding:NSASCIIStringEncoding];

    EC_KEY *privEC;
    privEC

[2017-12-05 10:57] elenatorroglosa opened #173 "Add support for JWK"
### New Issue Checklist

* [x] I have read and understood the [CONTRIBUTING guide](https://github.com/yourkarma/JWT/blob/master/.github/CONTRIBUTING.md)
* [x] I have read the [Documentation](https://github.com/yourkarma/JWT#documentation)
* [x] I have searched for a similar issue in the [project](https://github.com/yourkarma/JWT/issues) and found none

### Issue Info

 Info                    | Va

[2017-12-05 11:24] lolgear commented on #173
@elenatorroglosa
Hi!
Well, I could add a milestone for that.
I suppose that possible solution for JWK support in current version is a custom `JWTStringCoder__Protocol` object.

[code]

Inside string coder you could extract necessary items and make further conversion of keys base64 format into bytes.

Alternative, you could use `JWTCryptoKey` API for conversion public and private keys base64 format

[2017-12-05 11:47] lolgear opened #174 "JWT, JWK and JWA separation."
### New Issue Checklist

* [x] I have read and understood the [CONTRIBUTING guide](https://github.com/yourkarma/JWT/blob/master/.github/CONTRIBUTING.md)
* [x] I have read the [Documentation](https://github.com/yourkarma/JWT#documentation)
* [x] I have searched for a similar issue in the [project](https://github.com/yourkarma/JWT/issues) and found none

### Issue Info

 Info                    | Va

[2017-12-05 12:21] JanC commented on #116
@flash23 thanks

@lolgear, here is a key directly from Apple in the format they deliver it

[code]

[2017-12-05 12:22] lolgear commented on #116
@JanC Nice!
What about Public counterpart?

[2017-12-05 12:24] JanC commented on #116
No, Apple gives us only the private key and they keep the public one for verification of the signature.

[2017-12-05 12:25] lolgear commented on #116
@JanC Hoh, I would like to check both verification and signing in tests :)

[2018-01-16 17:09] davidpasztor commented on #152
I still experience the same issue when encoding a JWT payload, then trying to verify it using an RSA keypair generated with OpenSSL and using RS256 as the algorithm. I use JWT 3.0.0-beta7 through Carthage and I have also tried below code in your SampleSignature project, both yielding the same results.
As a starting point I have used the SampleSignature project you included in this thread.
I have t

[2018-01-16 21:21] lolgear commented on #152
@davidpasztor

[code]

try to set `verifyKey` and set `secretData(Data())` to empty data. (cheats, yes)

[code]

Also, check the length of the RSA key. ( Or try to use this key in Objective-C JWTDesktop application to exclude possible crypto-related issues with keys. )

[2018-01-17 01:02] davidpasztor commented on #152
@lolgear sadly setting `verifyKey` to `publicKey` and `secretData(Data())` doesn't help either.

`let verifyDataHolder = JWTAlgorithmRSFamilyDataHolder().signKey(publicKey)?.verifyKey(publicKey)?.secretData(Data())?.algorithmName(JWTAlgorithmNameRS256)` produces the same error as before.

What should be the length of the RSA key that I should check for?

Sadly the Obj-C JWTDesktop application also

[2018-01-18 12:18] davidpasztor commented on #152
@lolgear Finally managed to solve the issue. It was caused by the lack of the Base64 framework. After importing it to my project, everything started working. However, I have a question and a request about this.
Firstly, how can the JWT framework work at all without importing the Base64 framework if that framework is a hard dependency on JWT?
Secondly, for the request, it would be appreciated if yo

[2018-01-18 14:47] lolgear commented on #152
@davidpasztor

1. I hope that Base64 framework is a weak dependency for JWT.

in Base64Coder:

[code]

Also, it has various `respondsToSelector` to guard unknown selectors invocation ( which are present in Base64 framework )

Yes, Base64 framework has more accurate implementation of Base64 algorithm ( with additional features of base64 url encoding sanitizers ), here could be a hidden problem.

2.

[2018-01-24 16:59] dileep017 opened #177 "Any plans to update this library to swift 4.0?"
Are there any plans to update this library to Swift 4.0?

[2018-01-24 18:50] lolgear commented on #177
@dileep017 what do you mean?
It is an objective-c library with support even iOS 6. ( I hope so )

[2018-01-25 05:16] dileep017 commented on #177
I meant are you planning to write a swift code for this library??

[2018-01-25 14:57] lolgear commented on #177
@dileep017
It is a pure objective-c library.
It could be used in projects with swift 4, I suppose.

[2018-01-26 11:44] lolgear commented on #177
@dileep017
solved?

[2018-01-26 11:59] dileep017 commented on #177
@lolgear  i was talking about native Swift library. Yes you can bridge the objective c library and use it in swift.But i haven`t seen a single swift written library supports SH,RS and ES algorithms.
If you get what i mean, i would like to contribute to write this library in swift with your inputs.

[2018-01-26 16:57] lolgear commented on #177
@dileep017
well, interesting.
How do you want to organize development of this library?

Should it be a part of current JWT library?
Should it be stored somewhere else? ( In this scenario I suggest to put in [jwt group](https://github.com/jwt) )

[2018-01-27 03:37] dileep017 commented on #177
Yes i would like to ask about the same, how could we organize the development of this library?
Do i get any help any more hands or are you expecting me to work alone?
And also i need to know a basic stuff like how to create the source code as library and convert it into a framework and pod.
Yes it can be a part of current jwt library and we can store it in jwt group as you said.

[2018-01-27 15:39] lolgear commented on #177
@dileep017 I will think about all stuff at end of this week.

let me conclude questions about it:

1. How to organize development?
2. Alone or pair/team?
3. Distribution stuff for swift. ( Package manager, cocoa pods, Carthage )
4. Part of JWT or another project?

[2018-01-27 17:28] dileep017 commented on #177
@lolgear Sure will wait for your update.

[2018-01-29 15:28] grandima commented on #116
Hi @flash23 could you provide a full example of your code or at least `readPrivatePemToEC` implementation? It'd be very helpful.

[2018-02-01 09:57] amrilkholid commented on #138
@lolgear

I have experience the same issue when i'm using pkcs8, i got error message:

here is my code:

[code]
I've checked in jwt.io and there's no problem and it worked in android also

[2018-02-01 10:30] lolgear commented on #138
@amrilkholid
well, set secretData to Data() ( empty data ).
It is a hack described in #149
Try to check privateKeyCrypto for nil.

[2018-02-01 16:32] amrilkholid commented on #138
@lolgear
The error is in the first line, i can't create JWTCryptoKeyPrivate with my private key

here is my private key

[code]

[2018-02-09 16:43] dileep017 commented on #177
Have you given any thoughts on this?

On Sat, Jan 27, 2018 at 9:09 PM, Dmitry <notifications@github.com> wrote:

[2018-02-13 08:10] lolgear commented on #177
@dileep017 Hi!
I wait for a reply from inner developer of JWT.

Recently I asked him about opportunity to move this repo to group ( organization ) that I mentioned above.
It is a corner stone for now, because I don't have permissions to extend development team here.

1. How to organize development?
2. Alone or pair/team?
3. Distribution stuff for swift. ( Package manager, cocoa pods, Carthage )
4.

[2018-02-13 16:42] jayfar opened #179 "JWS Compact Serialization"
I am successfully able to use this library to generate a RS256 JWT token from my application. The token and public key are successfully verified using the debugger at http://jwt.io

However, when I attempt to use my generated JWT on a server using the .NET System.IdentityModel.Tokens.Jwt (https://www.nuget.org/packages/System.IdentityModel.Tokens.Jwt/), it fails with an error indicating it is not

[2018-02-13 19:23] dileep017 commented on #177
@lolgear  Okay sounds like a plan. But I am happy to write it alone,but i just need a guidance regards legacy,backward API Compatability and old iOS version support.Along with the distribution stuff.

[2018-02-13 22:34] jayfar commented on #179
After a bit more digging into this library code, I found this optional dependency...
https://github.com/soheilbm/Base64
by looking here:
https://github.com/yourkarma/JWT/blob/a8829959acd7fbc79bdb47f433e3b9243e1c304f/Core/Supplement/JWTBase64Coder.m#L21

Without it, on iOS, the library will generate JWT that contains '=', '/' and '+' characters (only Base64 encoded and not Base64URL encoded). Once

[2018-02-13 22:34] #179 closed

[2018-02-16 11:51] lolgear commented on #177
@dileep017
Ok, first of all, try to rewrite algorithm part ( HS only ) in Swift manner ( with further easy-to-extend to RS and possibly ES ).
As I remember, it doesn't use some legacy of apple OS part.
It will be JWA module.
and do not care about distribution for now, it is simple when everything is done.

[2018-02-18 11:01] lolgear commented on #138
@amrilkholid I could check it next week.

Somehow Security.framework failed at key creation.

Could you inspect code inside JWTCryptoKeyPrivate initializer?
If it lost data somewhere inside initializer, it could be fixed.
Otherwise Security framework tell no luck.

[2018-02-18 11:02] lolgear opened #180 "Add private/public key import in desktop apps."
- [ ] add private/public key import in desktop apps.
- [ ] add command line utility to check private/public keys and data.

[2018-02-19 16:09] amrilkholid commented on #138
Got the issue from here:
[code]

createError:
[code]

Should i change the private key or what?

[2018-02-23 10:19] ChrisMash opened #181 "Incorrectly reported signature verification failure"
### New Issue Checklist

* [x] I have read and understood the [CONTRIBUTING guide](https://github.com/yourkarma/JWT/blob/master/.github/CONTRIBUTING.md)
* [x] I have read the [Documentation](https://github.com/yourkarma/JWT#documentation)
* [x] I have searched for a similar issue in the [project](https://github.com/yourkarma/JWT/issues) and found none

### Issue Info

 Info                    | Va

[2018-02-23 11:04] lolgear commented on #181
@ChrisMash

Hi! Thanks for reporting this issue!
I tested different variations of token and secret.

It seems that long secret doesn't work properly now.
For example, base "secret" secret works nice.

[2018-02-23 11:35] ChrisMash commented on #181
Thanks for the quick response @lolgear, can you explain a bit more? I don't understand what you mean by 'base "secret" secret works nice'

[2018-02-23 11:39] ChrisMash commented on #181
Actually, I think I see what you're saying. If I reduce the length of the default secret used on http://jwtbuilder.jamiekurtz.com/ then it works. Equally if I make it longer it also works... Adding a 7 to the end is ok, and removing the 6 is ok.

It seems a bit inconsistent, which is a bit worrying if I want to use this code to validate all manner of different tokens as there could be some combina

[2018-02-23 11:40] lolgear commented on #181
@ChrisMash could you test also different tokens of the same length? ( equal, less by one letter, greater by one letter )

Nice issue although :)

[2018-02-23 15:07] ChrisMash commented on #181
So adding to the length and removing from the length makes it pass verification. But changing the last character doesn't. So it kinda looks like a key length of 32 (for HS256 at least) causes an issue.

Interestingly a key length of 64 also fails, while a key length of 63 does not.

[2018-02-23 18:18] lolgear commented on #181
@ChrisMash
I detected a bug.

[code]

This check doesn't work properly for this case.
I suppose it could be removed.
This check was added as convenient way to extract data from both strings formats - base64 and plain.

[2018-02-23 19:18] lolgear commented on #181
@ChrisMash I suppose that it was changed only for convenient conversion in JWTDesktop. :)

[2018-02-23 19:51] ChrisMash commented on #181
Ahh yes, in my own use case I'll know if it's base64 encoded or not so can apply the correct logic

[2018-02-24 11:56] lolgear commented on #181
@ChrisMash I am happy to merge your PR if you wish :)

[2018-02-25 20:18] lolgear commented on #181
@ChrisMash Could you check this fix?

[2018-02-25 20:52] lolgear commented on #138
@amrilkholid yes, try to change private key.

[2018-02-26 08:24] ChrisMash commented on #181
@lolgear looks great, many thanks!

[2018-03-02 09:05] stanislavsmida opened #183 "Could not verify RS256 signature"
### New Issue Checklist

* [x] I have read and understood the [CONTRIBUTING guide](https://github.com/yourkarma/JWT/blob/master/.github/CONTRIBUTING.md)
* [x] I have read the [Documentation](https://github.com/yourkarma/JWT#documentation)
* [x] I have searched for a similar issue in the [project](https://github.com/yourkarma/JWT/issues) and found none

### Issue Info

 Info                    | Va

[2018-03-02 10:59] lolgear commented on #183
Try to check it via JWTDesktop macOS application.

It seems this key is not well-formed ( has incorrect size ) for Apple Security framework.
Look for related error in logs.

You could check Apple error ( It was hidden in case of exception ).

[code]

[2018-03-06 10:38] stanislavsmida commented on #183
Sorry I really don't have time for that. I would expect you could investigate the problem. The public key is for sure correct and in standard format and this framework for some reason cannot process it. If you could please let me know what format of public key does Security framework expect, if it is possible to convert given key to that format. Any other library at https://jwt.io/#libraries-io is

[2018-03-06 11:19] lolgear commented on #183
@stanislavsmida
you don't have time to put your key in sandbox app in this repository. Interesting.

Most of these libraries use OpenSSL. Thus, their implementation is simple and naive.
However, Apple doesn't recommend to use OpenSSL ( it was removed in earlier versions of iOS and macOS as unreliable ).

Security framework is more strict and neat in handling security-related transforms. Therefore,

[2018-03-06 23:35] David-A-RogersHS2 opened #185 "Cannot compile PEM file example using 3.0.0"
### New Issue Checklist

* [x] I have read and understood the [CONTRIBUTING guide](https://github.com/yourkarma/JWT/blob/master/.github/CONTRIBUTING.md)
* [x] I have read the [Documentation](https://github.com/yourkarma/JWT#documentation)
* [x] I have searched for a similar issue in the [project](https://github.com/yourkarma/JWT/issues) and found none

### Issue Info

 Info                    | Va

[2018-03-07 19:52] lolgear commented on #185
@David-A-RogersHS2
Hi!
Try latest available version or master branch :)

[2018-03-07 20:56] David-A-RogersHS2 commented on #185
Thanks.
—dr
--
David Rogers
HS2 Solutions
o: 312-561-4265, x312
david.rogers@hs2solutions.com<mailto:ben.kane@hs2solutions.com>

From: Dmitry Lobanov <notifications@github.com<mailto:notifications@github.com>>
Reply-To: yourkarma/JWT <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, March 7, 2018 at 1:52 PM
To: yourkarma/JWT <JWT@noreply.github.com<mailto:JWT@noreply.github.

[2018-03-09 08:42] hakonk opened #186 "Support for Secure Enclave and signing"
Hi! Thanks for making this awesome lib. I have a question regarding Secure Enclave and signing.

From reading the documentation, it seems the private key used for signing has to be passed via a `String` or `Data` instance. However, if the private key is generated and stored in the secure enclave it is my understanding it cannot be retrieved and thus not be used with the current current implementat

[2018-03-09 09:12] lolgear commented on #186
@hakonk
Nice to hear that this library helps you :)
Well, your method could work only in iOS 10.0 and later :)

Yes, somewhere in future these API methods could replace existing API methods.

For now we could add one more node in inheritance tree ( Look at implementation of RS algorithms ).
Yes, `SecKeyCreateSignature` is a great replacement for inconvenience old API.
It will be in account.

If yo

[2018-03-10 17:09] hakonk commented on #186
Thanks for replying so quickly! If I find a solution, I'll see if I can make a PR :)

[2018-03-12 18:47] lolgear commented on #186
@hakonk
maybe you have test data for EC algorithms?
I suppose that your investigation into Security framework could have this task (EC algorithms usage) under the hood.

[2018-03-12 21:37] lolgear commented on #145
@JanC could you check latest master?
I have added ( no tests, haha ) support for ES by using Apple API.

[2018-03-12 21:41] lolgear commented on #186
@hakonk
happy to announce, you could check latest master for that ;)

[2018-03-13 08:27] hakonk commented on #186
@lolgear Great! I'll have a look :)

[2018-03-13 11:12] JanC commented on #145
I tried using the private key I get directly from Apple's APNS. (I revoked the key so that I can post it here)

[code]
I used this code snippet but I'm getting the error

[code]

[code]

[2018-03-13 11:16] lolgear commented on #183
@stanislavsmida
check latest master.

[2018-03-13 14:33] hakonk commented on #186
@lolgear

After looking into the code base, I'm having some difficulties understanding how this can be used with the existing implementation. While signing the secret is provided as a string with `RS256`:
[code]

I can't seem to figure out how I should use the existing API to sign using a `SecKeyRef` instead. Could you please enlighten me?

Thanks in advance, I appreciate you taking the time to pu

[2018-03-13 14:41] lolgear commented on #186
@hakonk
Well... Yes, it doesn't supported yet.
But no worry, you could add method for this easily.

First of all, you could set keys as `JWTCryptoKeyProtocol` items.

Look at convenient setters in `JWTAlgorithmRSFamilyDataHolder`

[code]

Now you want to provide a key for that.

This library assume that your keys are stored in `.pem` format or in `.p12` format.
But it always convert put them into

[2018-03-13 14:49] lolgear commented on #145
@JanC
very strange.
I ran tests which verified that public parameter is not passed.
However, error is:

[code]

I even drop prefix of key to determine correct header to strip off - no luck.

very strange and interesting.

[2018-03-13 17:11] lolgear commented on #145
@JanC
are you sure that this is a private key?

[Online checker](https://lapo.it/asn1js/) says that this key type is public. ( Or I do not understand it output )

I do not understand what what happens. I try to create public key from your key and it is created!

By Apple API :(

[2018-03-13 18:36] JanC commented on #145
When I use the OpenSSL api `PEM_read_PrivateKey` on that pem encoded file, I can extract both public and private keys:

[code]

I used this source for testing: https://github.com/matthijs2704/vapor-apns/blob/master/Sources/VaporAPNS/String%2BAPNS.swift

[2018-03-13 21:17] johntothee commented on #183
@lolgear I'm seeing the same thing testing with 3.0.0-beta.8.
I also tried a set of my own keys/token and using .secretData() instead of .secret()
`        let secretData = Data(base64Encoded: publicKey, options: [.ignoreUnknownCharacters])
        let builder = JWTBuilder.decodeMessage(jwt)!.algorithmName("RS256")!.secretData(secretData)!`

[2018-03-13 22:13] johntothee commented on #183
@stanislavsmida, I was able to get this to work using a different way of setting up the JWTBuilder referencing this issue: https://github.com/yourkarma/JWT/issues/152

`
        let jwt = "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1aWQiOiIxIiwiY29tbWFuZCI6InZlcmlmeSIsImlhdCI6MTUyMDk3NDc2Mn0.JW6tHgGAG4989YS0S-cufr3XmR6FWx5zIqTy0TAKa1BeVoFF5dPthyL4u73ojY5Yx127eb3UddJFMNxRBBeJalK6tgEgBupoVEdUnZOSNhI22o

[2018-03-15 10:43] dj-neza commented on #177
Hi guys!
I'm just wondering about how this Swift library is coming along. There is still no alternative as far as I searched and I believe a lot of people are looking for something like this. I don't have much experience, but if I can help in some way let me know.

[2018-03-15 11:20] lolgear commented on #186
@hakonk
Try latest master again :)

[2018-03-15 14:24] aksonov opened #189 "Compilation error: No known class method for selector 'withBase64String'"
JWTAlgorithmDataHolder.m:251
latest master

Btw, Cocoapods 2.2.0 version has a lot of compilation errors too, how to use this package?

[2018-03-16 05:17] dileep017 commented on #177
@lolgear  Sure Dimitry.I couldnt concentrate more on this work last month and occupied with my work. I will start writing algorithm part for HS in Swift and will update you on the progress.
@dj-neza  Hey we are just starting up this.You can ask @lolgear  for further updates.

[2018-03-16 09:34] lolgear commented on #189
try latest available version:
3.0.0-beta.8

Which target version do you have? ( macOS 10.9 / iOS 8 etc )?

[2018-03-16 09:35] aksonov commented on #189
I tried 3.0.0-beta.8
Target is iOS 11

[2018-03-16 09:36] lolgear commented on #189
@aksonov
I recently upload 3.0.0-beta.8 to CocoaPods.

[2018-03-16 09:49] aksonov commented on #189
Just tried again, the result is exactly the same…  Where is withBase64String method?

[2018-03-16 09:52] lolgear commented on #189
@aksonov
JWTBase64Coder.h

Could you post your Podfile?

[2018-03-16 09:54] aksonov commented on #189
[code]

[2018-03-16 09:56] lolgear commented on #189
@aksonov
Try to delete Podfile.lock and run `pod update` to fetch latest updates.

[2018-03-16 10:12] aksonov commented on #189
Ooops, looks like I found the reason - CodePush pod uses JWT too and probably it is lower version, so it doesn't see new signature... It looks like I have to fork react-native-codepush module to solve this, right?

[2018-03-16 10:24] lolgear commented on #189
@aksonov
I suppose that you can remove JWT from Podfile (it would be installed by CodePush) or install it via subspec of react-native-codepush.

I do not understand why they do it like this.
They could add a dependency in pod spec but they decided to copy ( or add git sub-module ).
Because since December ( latest update in their repository ) some necessary bugs are fixed.

However, you could log y

[2018-03-16 12:37] aksonov commented on #189
Thank you for the fast reply. I guess Microsoft team did it to allow non-cocoapods installation, so I will wait until they updated your great package.

[2018-03-16 12:37] #189 closed

[2018-03-18 17:59] jaggudada1992 opened #190 "JWT token decoding failing"
My code to decode jet token received in JSON response

    NSString *jwtToken = @"eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ7XCJpZFwiOjEsXCJyb2xlc0lkXCI6MSxcInVzZXJOYW1lXCI6";
    NSString *secret = @"8ecc3c633lhjkghjghg2129";
    NSString *algorithmName = @"HS512"; //Must specify an algorithm to use
    NSDictionary *payload = [JWTBuilder decodeMessage:jwtToken].secret(secret).algorithmName(algorithmName).

[2018-03-18 18:05] lolgear commented on #190
@jaggudada1992
I suppose that `jwtToken` is broken. It should have at least three dots.
Also, try to use API 3.
It is still in beta in case of some possible changes / bug fixes, but ok for production code.

[2018-03-20 15:56] hakonk commented on #186
Hi, sorry for the late reply!

I will have a look at the implementation :)

[2018-03-27 04:17] nyeineiei opened #191 "Cannot update to version 3.0"
I used pod 'JWT'.  Then imported this lib in my project like this #import <JWT/JWT.h>.
But I still got these problems.
<img width="1188" alt="screen shot 2018-03-27 at 12 16 01 pm" src="https://user-images.githubusercontent.com/33157619/37946576-b5a689b4-31b8-11e8-9757-4904a34648c4.png">
So I thought these are not available in the current version of JWT and tried to update it to 3.0. But I cannot.

[2018-04-24 13:46] drewpitchford opened #192 "Signature not valid according to jwt.io"
### New Issue Checklist

* [x ] I have read and understood the [CONTRIBUTING guide](https://github.com/yourkarma/JWT/blob/master/.github/CONTRIBUTING.md)
* [ x] I have read the [Documentation](https://github.com/yourkarma/JWT#documentation)
* [x ] I have searched for a similar issue in the [project](https://github.com/yourkarma/JWT/issues) and found none

### Issue Info

 Info                    |

[2018-04-24 20:53] drewpitchford commented on #93
@virenderimmanentsolutions did you ever figure this out? I believe I'm running into a similar issue. The iOS lib crashes b/c NSData returns nil when attempting to decode the header.

[2018-04-25 15:27] lolgear commented on #192
@drewpitchford
Complicated example.
However, check parameters:

[code]
Something wrong here.
Algorithm should be "RS256".

Besides, try to separate code in pieces.

[code]

You can't check here secret that you pass to holder. Also you can't check data from which you create base64 string.

[code]

It becomes a bit readable.

[2018-04-25 15:30] drewpitchford commented on #192
Yes, I agree it's not clean code. It's a proof of concept for now. I'll try RS256.

[2018-04-30 21:10] lolgear commented on #192
@drewpitchford
No, it doesn't support it yet.

[2018-06-10 11:04] lolgear opened #193 "Is it necessary to move project to GitLab?"
Please, leave upvotes/downvotes.

[2018-07-26 09:00] lolgear opened #195 "Remove Kiwi and add main project to tests."
### New Issue Checklist

* [x] I have read and understood the [CONTRIBUTING guide](https://github.com/yourkarma/JWT/blob/master/.github/CONTRIBUTING.md)
* [x] I have read the [Documentation](https://github.com/yourkarma/JWT#documentation)
* [x] I have searched for a similar issue in the [project](https://github.com/yourkarma/JWT/issues) and found none

### Issue Info

 Info                    | Va

[2018-07-26 09:03] lolgear opened #196 "Add EC example to Readme."
# WARNING
EC algorithms are available now **only by certificates** importing.

### Issue Description and Steps
* [ ] Add tests
* [ ] Add openssl workflow
* [ ] Update Readme

[2018-07-26 09:09] lolgear opened #197 "Add auto type inference."
### Issue Description and Steps

* [ ] Add `__auto_type` in Tests.
* [ ] Add `__auto_type` in Main Target ( ? )

[2018-08-02 21:34] johntothee commented on #183
@tmm1 if you're just debugging, you can paste the encoded message here: https://jwt.io/ and it will tell you the contents of the header and payload. To verify the signature if you use asymmetric keys there are methods in the class to do that. I'm creating a signed token in swift and sending it to another app running node.js So I'm not sure how to do that off the top of my head. Good Luck.

[2018-08-08 10:18] lolgear commented on #195
#198

[2018-08-08 10:18] #195 closed

[2018-08-15 11:32] vladarefiev opened #202 "Implicit declaration of function 'SecCopyErrorMessageString' is invalid in C99"
### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform Name           |  ios
 Platform Version        |  8.0
 Xcode Version           | Xcode 9.0

### Issue Description and Steps

Hi there,
I have a problems with building project.
`Implicit declaration of function 'SecCopyErrorMessageString' is inv

[2018-08-15 11:36] lolgear commented on #202
Hi!
Please, post Deployment target and Base SDK versions.

[2018-08-15 11:49] vladarefiev commented on #202
@lolgear added to issue description.

[2018-08-15 11:57] lolgear commented on #202
Weird.
How do you compile this project?
Please, also post commit hash.

[2018-08-15 12:42] vladarefiev commented on #202
@lolgear
I have just checked project out to clear directory, installed all deps.
Then I had `You should run pod update CodePush to apply changes you've made.`
After that my Podfile.lock has been changed.

[code]

Product -> Build -> Build failed

![image](https://user-images.githubusercontent.com/18175207/44148608-b65d39b8-a0a1-11e8-879a-bbb776a1b281.png)

[2018-08-17 11:41] lolgear commented on #202
Fixing problems in Apple ecosystem.

## Xcode rules
0. Product -> Build -> Clean Build Folder.
1. Relaunch Xcode.
2. Update Xcode from AppStore/Developer Beta.

## MacOS rules
1. Restart MacOS.
2. Reset PRAM.
3. Reset SMC.

## iPhone
1. Buy new.

[2018-08-26 17:38] lolgear commented on #202
@vladarefiev
Did you solve it by "Clean" action in Xcode or by removing DerivedData folder?

[2018-08-26 17:41] lolgear commented on #116
@JanC
Hi!
Could you test latest master?

[2018-08-27 08:04] JanC commented on #116
Hi
I tried with the latest master (`3.0.0-beta.11`) and the following snippet still gives me the error
[code]
Is it actually the correct way to sign?

[code]

[2018-08-28 06:38] JanC commented on #116
@ethanhuang13 thanks, that works fine

[2018-09-06 12:39] fluiddot commented on #202
any update on this?

[2018-09-07 05:36] lolgear commented on #202
@fluiddot
Hi!
Could you attach example project and all necessary tools versions. ( Xcode, deployment target etc. )

[2018-09-12 09:35] S2V commented on #161
@lolgear I have a warning by using CocoaPod (JWT 3.0.0-beta.11) - Umbrella header for module 'JWT' does not include header 'JWTAlgorithmErrorDescription+Subclass.h'. Please update JWT.h in next release.

[2018-09-23 08:41] dittmarconsulting opened #203 "Encode with RS256 using string data of a private key"
### New Issue Checklist

* [x] I have read and understood the [CONTRIBUTING guide](https://github.com/yourkarma/JWT/blob/master/.github/CONTRIBUTING.md)
* [x] I have read the [Documentation](https://github.com/yourkarma/JWT#documentation)
* [x] I have searched for a similar issue in the [project](https://github.com/yourkarma/JWT/issues) and found none

### Issue Info

 Info                    | Va

[2018-09-23 16:40] agonbina commented on #202
So I ran into the same issue and I solved it by upgrading xcode to 9.4.1 (previously I had 9.2.x).

I only figured this out because I had selected the 9.4.1 version of xcode to build in my appcenter settings, where the building was working perfectly fine, whereas on my local machine with an older version of xcode the build was failing for this exact same reason.

[2018-09-25 23:36] angyay0 commented on #191
Same problem, your build seems to be Broken, because your examples also aren't running.

[2018-10-03 10:04] dittmarconsulting commented on #203
Found the solution
https://stackoverflow.com/questions/52464995/objective-c-jwt-encode-with-rs256-using-string-data-of-a-private-key/52624479#52624479

[2018-10-03 10:04] #203 closed

[2018-10-10 08:02] hellChine commented on #202
![image](https://user-images.githubusercontent.com/11975509/46721501-c0232900-cca5-11e8-9cf8-77406ed14b74.png)
this API just active on iphone_11.3 or later.

[2018-11-22 23:47] sarajoel commented on #152
@lolgear

I tried both way to decode on objective C for iOS

`    id <JWTCryptoKeyProtocol> publicKey = [[JWTCryptoKeyPublic alloc] initWithPemEncoded:publickey_ parameters:nil error:nil];
    id <JWTAlgorithmDataHolderProtocol> holder = [JWTAlgorithmRSFamilyDataHolder new].verifyKey(publicKey).algorithmName(JWTAlgorithmNameRS256);
    JWTCodingBuilder *verifyBuilder = [JWTDecodingBuilder decodeMe

[2018-11-27 09:54] MarcoFiletti opened #204 "Xcode 10 Swift optional chaining bug"
### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform Name           | iOS
 Platform Version        | 11.4
 Integration Method      | CocoaPods
 Xcode Version           | Xcode 10 (does not apply to Xcode 9)
 Repro rate              | 100%
 Demo project link       | See code below

### Issue Descr

[2019-01-13 16:52] hakonk commented on #186
@bencallis Since I ended up approaching the problem in a different way, I no longer was dependent on this library, and thus I didn't look into what was needed to make it work with the signatures created in the Secure Enclave. Are you looking into the issue yourself?

[2019-01-16 14:40] michaelspecht commented on #204
I'm seeing this on Xcode 10.1 as well on the latest release (3.0.0-beta.11, though it was happening on 3.0.0-beta.5 as well)

[2019-01-21 07:51] lolgear commented on #116
@fengsh998
You can use `Tests` project and `Certificates.xcasset` inside it.

[2019-01-22 16:41] shadyk opened #205 "JWT string to NSData in Obj-C"
Can we convert a JWT String (i.e. "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImlhdCI6MTUxNjIzOTAyMn0.TCYt5XsITJX1CxPCT8yAV-TVkIEq_PbChOMqsLfRoPsnsgw5WEuts01mq-pQy7UJiN5mgRxD-WUcX16dUEMGlv50aqzpqh4Qktb3rk-BuQy72IFLOqV0G_zS245-kronKb78cPN25DGlcTwLtjPAYuNzVBAh4vGHSrQyHUdBBPM" ) to NSData format (array of bytes)?

I tried with initWithBase

[2019-01-22 18:13] lolgear commented on #205
@shadyk
Try something like `- dataUsingEncoding:`

[2019-01-23 08:17] shadyk commented on #205
@lolgear

Thanks. this will transfer the string . I need the JWT object

[2019-02-07 09:08] MapaX opened #206 "iOS Carthage builds are missing headers"
### New Issue Checklist

* [x] I have read and understood the [CONTRIBUTING guide](https://github.com/yourkarma/JWT/blob/master/.github/CONTRIBUTING.md)
* [x] I have read the [Documentation](https://github.com/yourkarma/JWT#documentation)
* [x] I have searched for a similar issue in the [project](https://github.com/yourkarma/JWT/issues) and found none

### Issue Info

 Info                    | Va

[2019-02-07 09:18] MapaX commented on #206
It seems that the master works ok, so I just use that.

github "yourkarma/JWT" "master"

[2019-02-07 09:18] #206 closed

[2019-03-07 15:38] AyeChanPyaeSone commented on #145
Hi any luck for ES256? I also get same error.

[2019-03-08 02:55] AyeChanPyaeSone commented on #186
Hi may I know any updates on this?

[2019-03-08 12:26] lolgear commented on #186
@AyeChanPyaeSone
Can you check latest master?

`JWTCryptoKey.h` has protocol for it.

[code]

[2019-03-08 13:16] lolgear commented on #145
@AyeChanPyaeSone
From Apple Documentation

[code]

And we have limitations:

* available(macOS 10.12, iOS 10.0, tvOS 10.0, watchOS 3.0).
* EC key should be in correct format: ANSI X9.63 format (04 || X || Y [ || K]).

[2019-03-08 15:02] AyeChanPyaeSone commented on #186
JWTCryptoKeyPrivate *key = [[JWTCryptoKeyPrivate alloc] initWithSecKeyRef:privateKey];

    //Add fake data as secretData its a bug from library
    id <JWTAlgorithmDataHolderProtocol> signDataHolder = [JWTAlgorithmRSFamilyDataHolder new]
    .signKey(key)
    .algorithmName(algorithmName)
    .secretData(fakeData);

is this correct approach? I am using the algorith "ES256" please let me know is t

[2019-03-08 15:02] AyeChanPyaeSone commented on #186
thanks you very much for your help 👍

[2019-03-08 15:05] AyeChanPyaeSone commented on #186
I have to add secretData because it forced me to add secretData.

[2019-03-08 15:26] lolgear commented on #186
@AyeChanPyaeSone
I have added you to Gitter room. Could we continue there?

Thanks!

[2019-06-15 10:16] lolgear commented on #204
@MarcoFiletti @michaelspecht
Hi! I have figure out what is going on. It is a swift correct behavior with fluent-ish blocks that captures `weakSelf`.
it is fixed in latest master for Version 3 only.

[2019-10-17 15:46] gcesarmza opened #216 "Support tvOS"
### New Issue Checklist

* [X] I have read and understood the [CONTRIBUTING guide](https://github.com/yourkarma/JWT/blob/master/.github/CONTRIBUTING.md)
* [X] I have read the [Documentation](https://github.com/yourkarma/JWT#documentation)
* [X] I have searched for a similar issue in the [project](https://github.com/yourkarma/JWT/issues) and found none

### Issue Info

 Info                    | Va

[2019-10-20 14:15] lolgear commented on #216
@gcesarmza
Do you know how to check tvOS version at compile time?
I would like to know if there is a constant tvOS_version_max_allowed. I can't find it.

[2019-10-21 09:53] lolgear commented on #149
@jakobsa Hi, could you check latest master? It has been fixed, I guess

[2019-10-21 11:29] lolgear opened #220 "Cleanup availability warnings and fix deployment targets."
It seems that SecKeyAlgorithm ( on which whole library depends ) is introduced in fresh apple OSes.

[code]

So, we need to raise deployment targets and cleanup availability warnings.

- [ ] Cleanup availability warnings.
- [ ] Raise deployment targets.

[2019-10-21 12:52] gcesarmza commented on #216
Sorry, I don't know

[2019-11-01 15:12] b00tsy commented on #186
Hi @lolgear, thanks for developing and maintaining this library for such a long time.

I'm currently experimenting with secure enclave keys and ran into this issue:

[code]

This results in that error:

Digging into `encodeWithAlgorithm:withHeaders:withPayload:withSecretData:withError` I see that `theAlgorithmName` is equal to `@"RS256"` althought it should be `@"ES256"` (keys in the secure enclav

[2019-11-01 16:06] lolgear commented on #186
@b00tsy
Yeah, I see. Raw SecKey values aren't determine correct types of encryption. Well, we have the following problem dualistic problem.

Algorithm in JWT is a name of preferred algorithm for encryption.
Algorithm in Security framework is a way to encrypt/decrypt data.

On one side we have public property of desired encryption ( JWT part ), on other side - private property of a key entity.

Wou

[2019-11-01 17:05] b00tsy commented on #186
Thanks for the quick response.

This works without error (both signing and verifying):

[code]

However, verifying externally fails (jwt.io, or nodejs jsonwebtoken or jose).

jsonwebtoken is very specific about the error: `TypeError: "ES256" signatures must be "64" bytes, saw "70"`.

Any hints?

PS sorry about trashing your issues with help requests. We could make a howto afterwards for how to use

[2019-11-02 10:46] lolgear commented on #186
@b00tsy Could you attach example project with keys that you are using? Maybe some kind of aligning or unnecessary symbols at the end of signature could cause this issue.

[2019-11-02 11:08] lolgear commented on #186
@b00tsy BTW, I think that

[code]

is unnecessary in new release.

[2019-11-02 12:07] b00tsy commented on #186
@lolgear

The private key itself is not exportable (within secure enclave chip on the processor).
This is a (hopefully) working example which requires the pod `EllipticCurveKeyPair`.

Call it from objective-c via `[TestKeyManager testECKeyJWT]
`.

An create a separate swift file with this:

[code]

[2019-11-02 12:12] b00tsy commented on #186
A very simple approach to circumvent all the issues (incompatiblity with other third party tools regarding jwt, encryption, signing and validation) created with the key and the key format of keys from the secure encalve could be to save a normal RSA key in the keychain and encrypt it on top of that with a key that's in the secure enclave... That would have the best ratio of compatibility and secur

[2019-11-28 03:30] wanght1029 commented on #205
@shadyk
I have the same problem. Can you tell me how you solved it

[2019-12-03 09:17] cargath commented on #117
I'm having the same issue - in the latest stable release JWTBuilder.secret() is deprecated, but JWTAlgorithmDataHolderProtocol doesn't exist yet. I don't want to use neither a deprecated method (that produces warnings) nor a pre-release version of a Framework in a production app 🤷‍♂️

[2019-12-17 21:50] esutton commented on #153
@rmorgancafex How did you do this exactly? In the Podfile?

[2019-12-18 08:20] morganric commented on #153
Sorry @esutton - too long ago to remember ... possibly?

[2020-01-16 04:50] andrewwiik opened #221 "Not needed lowercase comparison"
https://github.com/yourkarma/JWT/blob/b70a3a7fac5025b7063222e1194ecbedf85d12a1/Core/Algorithms/Base/JWTAlgorithmFactory.m#L63-L66

According to https://tools.ietf.org/html/rfc7515#section-4.1.1 the alg claim is case-sensitive and all of your alg name defines are correct according to [spec](https://www.iana.org/assignments/jose/jose.xhtml#web-signature-encryption-algorithms)

[2020-01-16 11:33] #193 closed

[2020-04-10 19:10] lolgear commented on #221
@andrewwiik Thanks!
Could you add PR for that change?

[2020-06-16 12:00] failynsedik commented on #73
Hi. I am experiencing the same error. Does anyone knows how to fix this? I have a `.p8` file generated for **Sign in with Apple,** so I don't know how to proceed with this.

```"It seems that signing output corrupted. Make sure signing worked (e.g. we may have issues extracting the key from the PKCS12 bundle if passphrase is incorrect)." UserInfo={NSLocalizedDescription=It seems that signing outpu

[2020-06-17 03:30] CoderYangFeiLong opened #223 "When will ES256 be supported?"

[2020-08-25 10:06] Onyedikachi commented on #93
I encountered the same problem. The error was caused somewhere in my code, I had converted the token to a lowercase string. This corrupted the base64 header.

[2020-09-02 13:09] oyljerry opened #224 "RS256 failed when private key has passphrase"
### New Issue Checklist

* [ ] I have read and understood the [CONTRIBUTING guide](https://github.com/yourkarma/JWT/blob/master/.github/CONTRIBUTING.md)
* [ ] I have read the [Documentation](https://github.com/yourkarma/JWT#documentation)
* [ ] I have searched for a similar issue in the [project](https://github.com/yourkarma/JWT/issues) and found none

### Issue Info

 Info                    | Va

[2020-09-03 11:52] lolgear commented on #224
@oyljerry oh no!
You have external parameters in private key and parser doesn't parse this well...
We need an update for a parser.

[2020-09-04 00:32] oyljerry commented on #224
@lolgear Thanks for your response.
What do you mean "external parameters", you mean private key's password?
If so, I am used **.privateKeyCertificatePassphrase(passPhrase)** to pass "123456" is not valid?

[2020-09-04 13:43] lolgear commented on #224
@oyljerry
Sorry, my bad.
I mean "extra" parameters.
You have correct key, but also key section contains
[code]

I assume that if you remove these parameters, JWT will work well.
Could you check it?

[2020-09-06 09:04] oyljerry commented on #224
@lolgear
I have tried as your suggestion. It seems not work.

I generate private key with password **123456**, Then, I remove encrypt section `Proc-Type: 4,ENCRYPTED...`, which will be looks like below. Then I use `JWTAlgorithmRSFamilyDataHolder ` to encode it. however, it still failed as `Code=-50 "RSA private key creation from data failed"`.
When I go back to readme for RS256 usage (https://gith

[2020-09-17 11:35] sryze commented on #202
Same error on Xcode 9.2 (I'm using an old Sierra Hackintosh, can't update it).

I think it needs to be replaced this with a compile-time check with `#if ... `#endif` so that it actually compiles with older SDKs. My SDK version is 11.2.

[2020-11-06 06:22] sshallow opened #226 "ES256 error :Unable to decode the provided data."
### New Issue Checklist

* [ ] I have read and understood the [CONTRIBUTING guide](https://github.com/yourkarma/JWT/blob/master/.github/CONTRIBUTING.md)
* [ ] I have read the [Documentation](https://github.com/yourkarma/JWT#documentation)
* [ ] I have searched for a similar issue in the [project](https://github.com/yourkarma/JWT/issues) and found none

### Issue Info

 Info                    | Va

[2020-11-11 07:21] sshallow commented on #226
I seem to find the source of the problem:
The privateKey is always empty. By tracking the source code, I found that there was a problem in the process of converting data to key.

`JWTCryptoSecurity.h`
<img width="1422" alt="QQ20201111-151646@2x" src="https://user-images.githubusercontent.com/21257340/98781220-f86f3580-2430-11eb-9707-944f2cae258b.png">

`SecItem.h` (framework <Security>)
<img width

[2020-11-11 07:58] sshallow commented on #145
@lolgear Did you solve it? I also found this problem, the ES256 algorithm ('kSecAttrKeyTypeECDSA') is unavailable: not available on iOS, deprecated; kSecAttrKeyTypeECDSA (deprecated; use kSecAttrKeyTypeECSECPrimeRandom instead.)

I tried to set kSecAttrKeyTypeECSECPrimeRandom and kSecAttrKeyTypeECDSA (originally kSecAttrKeyTypeEC), but no matter what value is set here, the value is always 73.

<im

[2020-11-11 17:38] lolgear commented on #226
@sshallow thanks for information!
Do you try to change key to `TypeEC` and create private key from your data?

[2020-11-12 01:06] sshallow commented on #226
@lolgear I tried to use kSecAttrKeyTypeEC to create, the result of SecKeyCreateWithData was empty. (Picture 1 is the process of kSecAttrKeyTypeEC)

[2021-06-08 19:04] lolgear commented on #226
@sshallow
Could you share an example project?
I would like to close many bugs before pre-release API V3

[2021-06-28 06:51] ExchangeMe commented on #226
I have the same problem
 use:   decs =  [JWT encodePayload:payloadDic withSecret:secret withHeaders:headers algorithm:algorithm withError:&error];
error:
encode failed, error: Error Domain=NSOSStatusErrorDomain Code=-26275 "Unable to decode the provided data." UserInfo={NSLocalizedDescription=Unable to decode the provided data.}

[2021-11-09 16:11] Loutrinator opened #238 "Support for Swift Package Manager for beta versions"
### New Issue Checklist

- [x] I have read and understood the [CONTRIBUTING guide](https://github.com/yourkarma/JWT/blob/master/.github/CONTRIBUTING.md)
- [x] I have read the [Documentation](https://github.com/yourkarma/JWT#documentation)
- [x] I have searched for a similar issue in the [project](https://github.com/yourkarma/JWT/issues) and found none

### Issue Info

 Info                    | Va

[2022-01-05 09:09] sambo-nbc commented on #203
Hi!  I have the same issue as you. and I followed instructions in the link above and got this error.
Could you help me please? how did you make it successful?
[seckey] SecKeyCreate init(RSAPrivateKey) failed: -50

[2022-01-06 02:23] sambo-nbc opened #242 "RS256 failed when encoding"
### New Issue Checklist

- [ ] I have read and understood the [CONTRIBUTING guide](https://github.com/yourkarma/JWT/blob/master/.github/CONTRIBUTING.md)
- [ ] I have read the [Documentation](https://github.com/yourkarma/JWT#documentation)
- [ ] I have searched for a similar issue in the [project](https://github.com/yourkarma/JWT/issues) and found none

### Issue Info

 Info                    | Va

[2022-01-06 11:34] lolgear commented on #242
Are you sure that this is a valid RSA key?

OpenSSL can't extract public key from it.

[code]

[2022-01-11 04:17] sambo-nbc commented on #242
@lolgear
I generate RSA keypair with command below:
`openssl req -newkey rsa:2048 -nodes -keyout private.key -x509 -days 365 -out public.crt`

[2022-01-12 09:09] lolgear commented on #242
@sambo-nbc
Try to regenerate key and extract its public part.

[code]

It should work.

[2022-05-19 12:37] rakz25 commented on #93
Any solution for this issue ?
@sgoodwin
[code]

[2022-05-19 12:46] rakz25 commented on #93
[code]

[2022-09-06 05:49] alvisjosh opened #245 "Failed to install via Carthage"
Cartfile content: `github "yourkarma/JWT" "master"`

Terminal command: `carthage update`
Error output:
`*** Fetching JWT
*** Fetching Base64
*** Checking out Base64 at "67083ec1e3e970ec920cbf126e6957c6e9e88ae4"
*** Checking out JWT at "8414cafd06843addf1ce9a63417386f25b2a6e20"
*** xcodebuild output can be found in /var/folders/7s/18873bvj1pl5j2kmv3y85jtr0000gn/T/carthage-xcodebuild.tzMewq.log
***